<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" href="data:;base64,iVBORw0KGgo=">

    <!-- <script src="https://cdn.jsdelivr.net/npm/vue@2.6.0"></script> -->
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.0.17/dist/sweetalert2.all.min.js"></script>

    <link rel="stylesheet" href="/assets/css/sakura.css" type="text/css">
    <link rel="stylesheet" href="/assets/css/normalize.css" type="text/css">
</head>

<body>
    <div id="app" v-show="isShow">
        <a href="/">Root</a>
        <br />
        <span>Edit user info</span>

        <div>
            <table>
                <template v-for="c, i in columns" v-if="c.code != 'reg-dttm' && c.code != 'admin' && c.code != 'approval' && c.code != 'idx'">
                    <tr>
                        <td>{{c.name}}</td>
                        <td><input v-model="data[c.column]" class="input" :type="setInputType(c.code)" /></td>
                    </tr>
                    <tr v-if="c.code == 'password'">
                        <td>{{c.name}} Confirm</td>
                        <td><input v-model="data['password-confirm']" class="input" :type="setInputType(c.code)" /></td>
                    </tr>
                </template>
            </table>

            <button @click="updateUser()">Update</button>
            <button onclick="history.back()">Cancel</button>
        </div>
    </div>
</body>

<script>
    const vm = new Vue({
        el: "#app",
        data: {
            restURIdomain: window.location.protocol + "//" + window.location.host,
            restURI: window.location.protocol + "//" + window.location.host,
            isShow: false,
            columns: [],
            table: "USERS",
            data: {},
            username: "",
            password: "",
        },
        mounted() {
            this.initData()
        },
        methods: {
            async initData() {
                await this.checkLogedIn()
            },
            // Type of input element
            setInputType(code) {
                let result = ""

                switch (code) {
                    case "password":
                        result = "password"
                        break
                    case "email":
                        result = "email"
                        break
                    default:
                        result = "text"
                        break
                }

                return result
            },
            async getColumns() {
                const response = await fetch(this.restURIdomain + "/api/user/columns", {
                    method: "GET",
                    headers: {}
                })

                r = await response.json()
                this.columns = r
            },
            async checkLogedIn() {
                let result = false
                let reissue = false
                let response = ""
                let r = ""

                const token = localStorage.getItem('token')

                if (token != null) {
                    response = await fetch(this.restURIdomain + "/api/user/token/verify", {
                        method: "POST",
                        headers: { "Authorization": "Bearer " + token }
                    })
                    r = await response.json()
                    if (response.ok) {
                        if (r.msg == "OK") {
                            result = true
                        }
                    } else if (r.expired) {
                        reissue = true
                    }

                    if (!result && reissue) {
                        response = await fetch(this.restURIdomain + "/api/user/token", {
                            method: "GET",
                            headers: { "Authorization": "Bearer " + token }
                        })

                        if (response.ok) {
                            r = await response.json()
                            localStorage.setItem("token", r.token)
                            result = true
                        } else {
                            localStorage.removeItem("token")
                            result = false
                        }
                    }
                }

                if (!result) {
                    location.href = "/"
                } else {
                    await this.getColumns()
                    await this.getUserData()
                    this.isShow = true
                }
            },
            async getUserData() {
                let data = new Array()
                for (let i = 0; i < this.columns.length; i++) {
                    const c = this.columns[i]
                    if (c.code != 'password' && c.code != 'reg-dttm' && c.code != 'admin' && c.code != 'approval') {
                        data.push(c.column)
                    }
                }

                let keywords = []

                let headers = {
                    "Accept": "application/json",
                    "Content-Type": "application/json",
                }

                const token = localStorage.getItem('token')

                if (token != undefined && token != null) {
                    Object.assign(headers, { "Authorization": "Bearer " + token })

                    let response = await fetch(this.restURI + "/api/user/data", {
                        method: "POST",
                        headers: headers,
                        body: JSON.stringify({
                            keywords: keywords,
                            options: {},
                            columns: data,
                            table: this.table
                        })
                    })

                    if (response.ok) {
                        const userInfo = await response.json()
                        this.data = userInfo[0]

                        return false
                    }

                    showError(response.status)
                }

                return false
            },
            async updateUser() {
                // console.log(this.data, this.columns)
                let data = new Object()
                for (let i = 0; i < this.columns.length; i++) {
                    const c = this.columns[i]
                    if (c.code != 'reg-dttm' && c.code != 'admin' && c.code != 'approval') {
                        // console.log(this.data[c.column])
                        if (c.code == "password") {
                            let pwContinue = true
                            switch (true) {
                                case (this.data[c.column] != undefined && this.data["password-confirm"] != undefined):
                                    if (this.data[c.column].length == 0 && this.data["password-confirm"] == 0) {
                                        pwContinue = true
                                    } else if (this.data[c.column].length > 0 && this.data[c.column] == this.data["password-confirm"]) {
                                        pwContinue = false
                                    } else {
                                        swal.fire("User edit failed", "Check password", "error")
                                        return false
                                    }
                                    break
                                case (this.data[c.column] == undefined && this.data["password-confirm"] == undefined):
                                    pwContinue = true
                                    break
                                default:
                                    swal.fire("User edit failed", "Should not display", "error")
                                    return false
                            }

                            if (pwContinue) {
                                continue
                            }
                        }
                        if (this.data[c.column] == undefined) {
                            swal.fire("User edit failed", "Need " + c.name, "error")
                            return false
                        }
                        data[c.column] = this.data[c.column]
                    }
                }

                const token = localStorage.getItem('token')
                const response = await fetch(this.restURI + "/api/user/edit", {
                    method: "POST",
                    headers: { "Authorization": "Bearer " + token },
                    body: JSON.stringify(data)
                })
                if (response.ok) {
                    // 204 - User info are not correct or not exist
                    if (response.status != 200) {
                        swal.fire("User edit failed", "Check username of password", "error")
                        return false
                    }

                    const result = await response.json()

                    if (result["affected-rows"] == 1) {
                        swal.fire("User edit done successfully", "", "success").then(() => {
                            location.href = "/"
                        })
                    } else {
                        console.log(result, data)
                        swal.fire("User edit failed", "Unknown error", "error")
                    }
                } else {
                    const result = await response.json()
                    swal.fire("User edit failed", result.msg, "error")
                    return false
                }
            },
        }
    })
</script>

<style>
    body {
        margin: 0;
        padding: 0;
        max-width: 100%;
    }

    #app {
        width: 100%;
    }
</style>

</html>