<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" href="data:;base64,iVBORw0KGgo=">

    <!-- <script src="https://cdn.jsdelivr.net/npm/vue@2.6.0"></script> -->
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.0.17/dist/sweetalert2.all.min.js"></script>

    <link rel="stylesheet" href="/assets/css/sakura.css" type="text/css">
    <link rel="stylesheet" href="/assets/css/normalize.css" type="text/css">
</head>

<body>
    <div id="app" v-show="isShow">
        <a href="/">Root</a>
        <br />
        <span>Sign up</span>

        <div>
            <table>
                <template v-for="c, i in columns" v-if="c.code != 'reg-dttm' && c.code != 'admin' && c.code != 'approval' && c.code != 'idx'">
                    <tr>
                        <td>{{c.name}}</td>
                        <td><input v-model="data[c.column]" class="input" :type="setInputType(c.code)" /></td>
                    </tr>
                    <tr v-if="c.code == 'password'">
                        <td>{{c.name}} Confirm</td>
                        <td><input v-model="data['password-confirm']" class="input" :type="setInputType(c.code)" /></td>
                    </tr>
                </template>
            </table>

            <button @click="registerUser()">Register</button>
        </div>
    </div>
</body>

<script>
    const vm = new Vue({
        el: "#app",
        data: {
            restURIdomain: window.location.protocol + "//" + window.location.host,
            restURI: window.location.protocol + "//" + window.location.host,
            isShow: false,
            columns: [],
            table: "USERS",
            data: {},
            username: "",
            password: "",
        },
        mounted() {
            this.checkLogedIn()

            this.getColumns()
        },
        methods: {
            // Type of input element
            setInputType(code) {
                let result = ""

                switch (code) {
                    case "password":
                        result = "password"
                        break
                    case "email":
                        result = "email"
                        break
                    default:
                        result = "text"
                        break
                }

                return result
            },
            async getColumns() {
                const response = await fetch(this.restURIdomain + "/api/user/columns", {
                    method: "GET",
                    headers: {}
                })

                r = await response.json()
                this.columns = r
            },
            async checkLogedIn() {
                let result = false
                let reissue = false
                let response = ""
                let r = ""

                let token = localStorage.getItem('token')

                if (token != null) {
                    response = await fetch(this.restURIdomain + "/api/user/token/verify", {
                        method: "POST",
                        headers: { "Authorization": "Bearer " + token }
                    })
                    r = await response.json()
                    if (response.ok) {
                        if (r.msg == "OK") { result = true }
                    } else if (r.expired) {
                        reissue = true
                    }

                    if (!result && reissue) {
                        response = await fetch(this.restURIdomain + "/api/user/token", {
                            method: "GET",
                            headers: { "Authorization": "Bearer " + token }
                        })

                        if (response.ok) {
                            r = await response.json()
                            localStorage.setItem("token", r.token)
                            result = true
                        } else {
                            localStorage.removeItem("token")
                            result = false
                        }
                    }
                }

                if (result) {
                    location.href = "/"
                } else {
                    this.isShow = true
                }
            },
            async registerUser() {
                // console.log(this.data, this.columns)
                let data = new Object()
                for (let i=0; i < this.columns.length; i++) {
                    const c = this.columns[i]
                    if (c.code != 'reg-dttm' && c.code != 'admin' && c.code != 'approval' && c.code != 'idx') {
                        // console.log(this.data[c.column])
                        if (c.code == "password") {
                            if (this.data["password-confirm"] == undefined) {
                                swal.fire("Register failed", "Need " + "password-confirm", "error")
                                return false
                            }
                            if (this.data[c.column] != this.data["password-confirm"]) {
                                swal.fire("Register failed", "Password are not same", "error")
                                return false
                            }
                        }
                        if (this.data[c.column] == undefined) {
                            swal.fire("Register failed", "Need " + c.name, "error")
                            return false
                        }
                        data[c.column] = this.data[c.column]
                    }
                }

                const response = await fetch(this.restURI + "/api/user/join", {
                    method: "POST",
                    headers: {},
                    body: JSON.stringify(data)
                })
                if (response.ok) {
                    // 204 - User info are not correct or not exist
                    if (response.status != 200) {
                        swal.fire("Register failed", "Check username of password", "error")
                        return false
                    }

                    const result = await response.json()

                    if (result["affected-rows"] == 1) {
                        swal.fire("Register succeed", "", "success").then(() => {
                            location.href = "/"
                        })
                    } else {
                        console.log(result, data)
                        swal.fire("Register failed", "Unknown error", "error")
                    }
                } else {
                    const result = await response.json()
                    swal.fire("Register failed", result.msg, "error")
                    return false
                }
            }
        }
    })
</script>

<style>
    body {
        margin: 0;
        padding: 0;
        max-width: 100%;
    }

    #app {
        width: 100%;
    }
</style>

</html>