@INCLUDE@board/include/header.html

<script>
    document.title = "Gallery"
</script>

<label for="search">Search:</label>
<input type="text" id="search" onkeyup="pressEnter()" placeholder="Search for...">
<button type="button" onclick="search()">Search</button>

<div class="gallery">
    <ul>
        {{range $i, $o := .ContentList}}
        <li onclick="moveToContent('{{$i}}')">
            <div class="title-img"><img src="{{$o.TitleImage.String}}" alt="title-image" /></div>
            <div class="title-text">{{$o.Title.String}}</div>
        </li>
        {{end}}
    </ul>
</div>

<div>
    {{range $i, $o := .PageList}}

    {{if eq $i 0}}
    <a href="/board?code=$CODE$&page={{1}}$SEARCH$">&laquo;</a>
    <a href="/board?code=$CODE$&page={{jump_to_before $o}}$SEARCH$">&lt;</a>
    ..
    {{end}}

    {{if eq $o $.CurrentPage}}
    <b>{{$o}}</b>
    {{else}}
    <a href="/board?code=$CODE$&page={{$o}}$SEARCH$">{{$o}}</a>
    {{end}}

    {{if and (ne $o $.TotalPage) (is_last_index $i)}}
    ..
    <a href="/board?code=$CODE$&page={{jump_to_after $o}}$SEARCH$">&gt;</a>
    <a href="/board?code=$CODE$&page={{$.TotalPage}}$SEARCH$">&raquo;</a>
    {{end}}

    {{end}}
</div>

<div>
    <button type="button" onclick="moveToWrite()">Write</button>
</div>

<script>
    let boardEditIndex = -1
    const url = new URL(window.location.href)
    const urlParams = url.searchParams

    let list = new Array()

    function moveToContent(idx) {
        const index = list[idx].idx
        location.href = `/board/read.html?code=$CODE$&idx=${index}`

        return false
    }

    function moveToWrite() {
        location.href = "/board/write.html?code=$CODE$";
        return false
    }

    async function deleteContent(e, idx) {
        e.stopPropagation()

        const index = list[idx].idx
        const url = `/api/board/content/$CODE$/${index}`

        const r = await fetch(url, { method: "DELETE" })

        if (r.ok) {
            location.reload()
        } else {
            alert("Failed to delete")
        }

        return false
    }

    function pressEnter() { if (window.event.keyCode == 13) { search() } }
    function search() {
        const search = document.querySelector("#search").value

        if (search.length < 2) {
            if (search == "") {
                const url = `/board?code=$CODE$`

                searchParam = ""
                if (urlParams.get("count")) { searchParam += "&count=" + urlParams.get("count") }

                location.href = url + searchParam

                return false
            }

            alert("Required at least 2 characters")

            return false
        }

        const url = `/board?code=$CODE$&search=${search}`
        location.href = url

        return false
    }

    let contentsData = $CONTENT_LIST$
    list = contentsData["content-list"]

    let searchParam = ""
    if (urlParams.get("search")) {
        document.querySelector("#search").value = urlParams.get("search")
        searchParam = "&search=" + urlParams.get("search")
    }
    if (urlParams.get("count")) { searchParam += "&count=" + urlParams.get("count") }

    let pages = new Array()
    for (let i = contentsData["current-page"] - 1; i < contentsData["current-page"] + 2; i++) {
        if (i > contentsData["total-page"]) { break }
        if (i > 0) {
            const pageInfo = {
                "page": i,
                "link": `/board?code=$CODE$&page=${i}` + searchParam
            }
            pages.push(pageInfo)
        }
    }
</script>

<style>
    .gallery {
        width: 80vw;
    }

    .gallery ul {
        display: flex;
        flex-flow: row wrap;
        list-style: none;
        margin: 32px 0;
    }

    .gallery li {
        margin: 0 0.2vw;
        /* flex-basis: calc(50% - 20px); */
    }

    .gallery li img {
        width: 20vw;
        height: 15vw;
        object-fit: cover;
    }

    .title-text {
        margin-top: -25px;
        margin-left: 5px;
        color: chocolate;
    }
</style>

@INCLUDE@board/include/footer.html