{{template "board/include/header" .}}

<link rel="stylesheet" href="/assets/css/toastui-editor.min.css" />
<script src="/assets/js/toastui-editor-all.min.js"></script>

<div>
    <input type="text" id="title" value="{{.Content.Title.String}}" placeholder="Title">
</div>

<div id="editor"></div>

<div>
    <input type="file" id="upload-files" multiple />
    <button type="button" onclick="uploadFile()">Upload</button>
</div>

<div id="fileslist-container">
    <ul></ul>
</div>

<div>
    <button type="button" onclick="backToList()">Cancel</button>
    <button type="button" onclick="writeContent()">Save</button>
</div>

<script>
    const queries = new URLSearchParams(window.location.search)
    const boardCode = queries.get("board_code")
    const contentIdx = queries.get("idx")
    const initialContent = "{{.Content.Content.String}}"
    const fileIndices = "{{.Content.Files.String}}"
    const filesList = []

    function backToList() { location.href = `/board/list?board_code=${boardCode}` }

    const editor = new toastui.Editor({
        el: document.querySelector("#editor"),
        previewStyle: "tab",
        initialEditType: "wysiwyg",
        hideModeSwitch: true,
        height: "500px",
        hooks: { addImageBlobHook: onUploadImage },
        initialValue: initialContent
    })

    async function onUploadImage(blob, callback) {
        const formData = new FormData()
        formData.append("upload-files", blob)

        const uri = "/api/uploader"
        const r = await fetch(uri, {
            method: "POST",
            body: formData
        })

        if (r.ok) {
            const response = await r.json()

            const fcontainer = document.querySelector("#fileslist-container > ul")
            response.files.forEach((f) => {
                callback(`/upload/${f.storagename}`, f.filename)

                const btn = document.createElement("button")
                btn.setAttribute("onclick", `deleteFile('${f.idx}', '${f.storagename}')`)
                btn.appendChild(document.createTextNode("X"))

                const li = document.createElement("li")
                li.setAttribute("id", `file-${f.idx}`)
                li.appendChild(document.createTextNode(`${f.filename}`))
                li.appendChild(btn)

                fcontainer.appendChild(li)

                filesList.push(f)
            })
        }
    }

    async function uploadFile() {
        const files = document.querySelector("#upload-files").files

        const formData = new FormData()
        for (const blob of Array.from(files)) {
            formData.append("upload-files", blob)
        }

        const uri = "/api/uploader"
        const r = await fetch(uri, {
            method: "POST",
            body: formData
        })

        if (r.ok) {
            const response = await r.json()

            const fcontainer = document.querySelector("#fileslist-container > ul")
            response.files.forEach((f) => {
                const btn = document.createElement("button")
                btn.setAttribute("onclick", `deleteFile('${f.idx}', '${f.storagename}')`)
                btn.appendChild(document.createTextNode("X"))

                const li = document.createElement("li")
                li.setAttribute("id", `file-${f.idx}`)
                li.appendChild(document.createTextNode(`${f.filename}`))
                li.appendChild(btn)

                fcontainer.appendChild(li)

                filesList.push(f)
            })
        }
    }

    async function deleteFile(idx, storagename) {
        const data = [{ "idx": parseInt(idx) }]
        const uri = "/api/uploader"

        const r = await fetch(uri, {
            method: "DELETE",
            headers: { "Content-Type": "application/json" },
            body: JSON.stringify(data)
        })

        if (r.ok) {
            document.querySelector(`#file-${idx}`).remove()
            for (const i in filesList) {
                if (filesList[i].idx == idx && filesList[i].storagename == storagename) {
                    filesList.splice(i, 1)
                    break
                }
            }

            if (storagename.toLowerCase().match(/\.(bmp|jpg|jpeg|png|gif)$/i)) {
                const imgTags = document.querySelectorAll("img")
                imgTags.forEach((img) => {
                    const fnames = img.src.split("/")
                    const fname = fnames[fnames.length - 1]
                    if (fname == storagename) {
                        img.remove()
                        return
                    }
                })
            }
        } else {
            alert("Failed to delete file")
        }
    }

    async function writeContent() {
        const uri = `/api/board/${boardCode}/content/${contentIdx}`

        const title = document.querySelector("#title").value
        const initialContent = editor.getHTML()
        const filesList = []

        let fileIndices = ""
        for (const f of filesList) { fileIndices += `${f.idx}|` }
        if (fileIndices.length > 0) { fileIndices = fileIndices.slice(0, -1) }

        const data = {
            "title": title,
            "content": initialContent,
            "author-idx": 1,
            "author-name": "admin",
            "files": fileIndices
        }

        const r = await fetch(uri, {
            method: "PUT",
            headers: { "Content-Type": "application/json" },
            body: JSON.stringify(data)
        })

        if (r.ok) {
            location.href = `/board/list?board_code=${boardCode}`
        } else {
            alert("Write failed")
        }

        return false
    }

    async function getFilesInfo() {
        const indexList = []
        for (const fidx of fileIndices.split("|")) {
            indexList.push({ idx: parseInt(fidx) })
        }

        const uri = "/api/uploader/files-info"

        const r = await fetch(uri, {
            method: "POST",
            headers: { "Content-Type": "application/json" },
            body: JSON.stringify(indexList)
        })

        if (r.ok) {
            const response = await r.json()

            const fcontainer = document.querySelector("#fileslist-container > ul")
            response.forEach((f) => {
                const btn = document.createElement("button")
                btn.setAttribute("onclick", `deleteFile('${f.idx}', '${f.storagename}')`)
                btn.appendChild(document.createTextNode("X"))

                const li = document.createElement("li")
                li.setAttribute("id", `file-${f.idx}`)
                li.appendChild(document.createTextNode(`${f.filename}`))
                li.appendChild(btn)

                fcontainer.appendChild(li)
                filesList.push(f)
            })
        }
    }


    function init() {
        getFilesInfo()
    }

    document.addEventListener("DOMContentLoaded", function () { init() })
</script>

{{template "board/include/footer" .}}