{{template "layout_board_header" .}}

<script>
    document.title = "{{.BoardName}} - {{.SiteName}}"
</script>

<style>
    /* a:hover {
        text-decoration: none;
    } */

    thead > * {
        text-align: center;
    }

    .cellSelector:hover {
        cursor: pointer;
        color: maroon;
        font-weight: bolder;
    }

    .cell14em {
        width: 14em;
    }

    .cell10em {
        width: 10em;
    }

    .cell3em {
        width: 3em;
    }

    .center {
        text-align: center;
    }
</style>

<div>
    Search:
    <input onkeyup="doSearch()" type="text" name="search" value="{{.Data.SearchKeyword}}" placeholder="Search keyword" />
    <button onclick="doSearch()" type="button">🔍</button>
</div>

<div>
    <table>
        <thead>
            <th>No.</th>
            <th>Title</th>
            <th>Writer</th>
            <th>Date</th>
            <th>Read</th>
        </thead>
        <tbody>
            {{range .Data.TopicList}}
            <tr>
                <td class="cell3em center">{{.Idx.Int64}}</td>
                <td class="cellSelector" onclick="location.href='/board/read?board_code={{$.BoardCode}}&idx={{.Idx.Int64}}'">
                    {{.Title.String}}
                    [{{.CommentCount.String}}]
                </td>
                <td class="cell10em center">
                    {{.AuthorName.String}}
                    {{if le .AuthorIdx.Int64 0}}
                    ({{.AuthorIP.String}})
                    {{end}}
                </td>
                <td class="cell14em center">{{format_date .RegDate.String}}</td>
                <td class="cell3em center">{{.Views.Int64}}</td>
            </tr>
            {{end}}
        </tbody>
    </table>

    {{if .Data.PageList}}
    <div>
        <span class="page-jump">
            <a href="?board_code={{.BoardCode}}&search={{.Data.SearchKeyword}}&count={{.ListCount}}">&laquo;</a>
            <a href="?board_code={{.BoardCode}}&page={{.Data.JumpPrev}}&search={{.Data.SearchKeyword}}&count={{.ListCount}}">&lt;</a>
        </span>

        {{range .Data.PageList}}
        {{if eq . $.Data.CurrentPage}}
        <b>{{.}}</b>
        {{else}}
        <a href="?board_code={{$.BoardCode}}&page={{.}}&search={{$.Data.SearchKeyword}}&count={{$.ListCount}}">{{.}}</a>
        {{end}}
        {{end}}

        <span class="page-jump">
            <a href="?board_code={{.BoardCode}}&page={{.Data.JumpNext}}&search={{.Data.SearchKeyword}}&count={{.ListCount}}">&gt;</a>
            <a href="?board_code={{.BoardCode}}&page={{.Data.TotalPage}}&search={{.Data.SearchKeyword}}&count={{.ListCount}}">&raquo;</a>
        </span>
    </div>
    {{end}}
</div>

<div>
    <button type="button" onclick="moveToWrite()">Write</button>
</div>

<script>
    const queries = new URLSearchParams(window.location.search)
    const boardCode = queries.get("board_code")
    const listCount = queries.get("count") ? queries.get("count") : "{{.TopicListCount}}"

    function doSearch() {
        switch (globalThis.event.type) {
            case "keyup":
                if (globalThis.event.code != "Enter") { return false }
                break
        }

        let params = `?board_code=${boardCode}&count=${listCount}`
        const keyword = document.querySelector("input[name=search]").value
        if (keyword == "") {
            const search = new URLSearchParams(globalThis.location.search).get("search")
            if (search == null || search == "") { return false }
        } else {
            params += `&search=${keyword}`
        }

        location.href = params
    }

    function moveToWrite() {
        location.href = `/board/write?board_code=${boardCode}`
    }
</script>

{{template "layout_board_footer" .}}