{{template "board/include/header" .}}

<div>
    Title: {{.Title}}
</div>

<div>
    Content list

    <table>
        <tbody>
            {{range .BoardList.ContentList}}
            <tr>
                <td>{{.Idx.Int64}}</td>
                <td>
                    <a href="/board/read?board_code={{$.BoardCode}}&idx={{.Idx.Int64}}">
                        {{.Title.String}}
                    </a>
                </td>
                <td>{{.CommentCount.String}}</td>
            </tr>
            {{end}}
        </tbody>
    </table>

    <div>
        <a href="?board_code={{.BoardCode}}">&laquo;</a>
        <a href="?board_code={{.BoardCode}}&page={{.BoardList.JumpPrev}}">&lt;</a>

        {{range .BoardList.PageList}}
        {{if eq . $.BoardList.CurrentPage}}
        <b>{{.}}</b>
        {{else}}
        <a href="?board_code={{$.BoardCode}}&page={{.}}">{{.}}</a>
        {{end}}
        {{end}}

        <a href="?board_code={{.BoardCode}}&page={{.BoardList.JumpNext}}">&gt;</a>
        <a href="?board_code={{.BoardCode}}&page={{.BoardList.TotalPage}}">&raquo;</a>
    </div>
</div>

{{template "board/include/footer" .}}