{{template "layout_board_header" .}}

<link rel="stylesheet" href="/assets/css/myeditor.css" />
{{if eq .GrantComment true}}
<script src="/assets/js/myeditor.js"></script>
{{end}}

<style>
    a:hover {
        cursor: pointer;
    }

    a>div.hover-view {
        display: none;
        max-width: 50vw;
        position: fixed;
        top: 0;
        right: 0;
        z-index: 999;
    }

    a:hover>div.hover-view {
        display: block;
    }

    .page-jump {
        display: none;
    }

    comment-modifier {
        display: none;
    }

    .comment-editor {
        resize: vertical;
        overflow: hidden;
        height: 20em;
        border: 1px solid silver;
    }

    p:has(iframe) {
        position: relative;
        width: 50vw;
        height: calc(50vw * 0.565);
    }

    p>iframe {
        position: relative;
        width: 100%;
        height: 100%;
    }

    @media(max-width: 960px) {
        p:has(iframe) {
            width: 94.5vw;
            height: calc(94.5vw * 0.565);
        }
    }
</style>

<div>
    <div>
        <h3>{{.Topic.Title.String}}</h3>
    </div>

    <div>
        <span>{{.Topic.AuthorName.String}}</span> |
        <span>{{format_date .Topic.RegDate.String}}</span> |
        <span>{{.Topic.Views.Int64}}</span>
    </div>

    <hr />

    <div>
        {{unescape .Topic.Content.String}}
    </div>

    <div id="topic-fileslist-container">
        <ul></ul>
    </div>
</div>

<div>
    <button type="button" onclick="backToList()">List</button>
    {{if or (eq .UserInfo.UserIdx .Topic.AuthorIdx.Int64) (eq .UserInfo.UserGrade "admin")}}
    <button type="button" onclick="moveToEdit()">Edit</button>
    <button type="button" onclick="deleteTopic()">Delete</button>
    {{end}}
</div>

<hr />

<!-- Comment -->
<div>
    <div id="comments">
        {{range .Comments.CommentList}}
        <span>{{.AuthorName.String}}</span>|
        <span>{{format_date .RegDate.String}}</span>
        {{if or (and (eq $.GrantComment true) (eq $.UserInfo.UserIdx .AuthorIdx.Int64)) (eq $.UserInfo.UserGrade "admin")}}
        |
        <button type="button" onclick="openEditComment('{{.Idx.Int64}}')">edit</button>
        <button type="button" onclick="deleteComment('{{.Idx.Int64}}')">delete</button>
        {{end}}
        <span id="comment-{{.Idx.Int64}}">{{unescape .Content.String}}</span>
        <comment-modifier id="modifier-{{.Idx.Int64}}" data-idx="{{.Idx.Int64}}"></comment-modifier>
        <a onclick="getFilesInfo(parseInt('{{.Idx.Int64}}'))">Attachment</a>
        <div id="comment-files-container-{{.Idx.Int64}}">
            <ul></ul>
        </div>
        {{end}}
    </div>
</div>

<div>
    <span class="page-jump">
        <a onclick="getComments(parseInt('1'))">&laquo;</a>
        <a onclick="getComments(parseInt('{{.Comments.CurrentPage}}')-5)">&lt;</a>
    </span>

    <span id="comment-pages">
        {{range .Comments.PageList}}
        {{if eq . $.Comments.CurrentPage}}
        <b>{{.}}</b>
        {{else}}
        <a onclick="getComments('{{.}}')">{{.}}</a>
        {{end}}
        {{end}}
    </span>

    <span class="page-jump">
        <a onclick="getComments(parseInt('{{.Comments.CurrentPage}}')+5)">&gt;</a>
        <a onclick="getComments('{{.Comments.TotalPage}}')">&raquo;</a>
    </span>

</div>

<div id="topic-buttons-second">
    <div>
        <button type="button" onclick="backToList()">List</button>
        {{if or (eq .UserInfo.UserIdx .Topic.AuthorIdx.Int64) (eq .UserInfo.UserGrade "admin")}}
        <button type="button" onclick="moveToEdit()">Edit</button>
        <button type="button" onclick="deleteTopic()">Delete</button>
        {{end}}
    </div>

    <hr />
</div>

{{if eq .GrantComment true}}
<div id="writer" class="comment-editor"></div>

<div id="writer-fileslist-container">
    <ul></ul>
</div>

<div>
    <button type="button" onclick="writeComment()">Write comment</button>
</div>
{{end}}

<!-- Comment modification editor -->
<template id="modifier-template">
    <link rel="stylesheet" href="https://unpkg.com/sakura.css/css/sakura.css" type="text/css">
    <link rel="stylesheet" href="/assets/css/myeditor.css" />

    <style>
        .comment-modifier {
            resize: vertical;
            overflow: hidden;
            height: 20em;
            border: 1px solid silver;
        }
    </style>

    <div id="modifier" class="comment-modifier"></div>

    <div id="modifier-fileslist-container">
        <ul></ul>
    </div>

    <div>
        <button type="button" onclick="cancelEditComment(this)">Cancel</button>
        <button type="button" onclick="updateComment(this)">Update</button>
    </div>
</template>
<!-- Comment modification editor -->

<script>
    let filesList = []
    const attachIdxList = {
        "topic": [],
        "comment-new": [],
        "comment-mod": []
    }
</script>

<script>
    const imageUploadCallback = (idx) => function (response) {
        if (response.message == "success") {
            let fcontainer = document.querySelector("#writer-fileslist-container > ul")
            if (idx) {
                const modifierEL = document.querySelector(`comment-modifier#modifier-${idx}`)
                const modifierROOT = modifierEL.shadowRoot
                fcontainer = modifierROOT.querySelector("#modifier-fileslist-container > ul")
            }

            response.files.forEach((f) => {
                const btn = document.createElement("button")
                btn.setAttribute("onclick", `deleteFile(${idx}, ${f.idx}, '${f.storagename}')`)
                btn.appendChild(document.createTextNode("X"))

                const li = document.createElement("li")
                li.setAttribute("id", `file-${f.idx}`)
                li.appendChild(document.createTextNode(`${f.filename}`))
                li.appendChild(btn)

                fcontainer.appendChild(li)

                if (idx) {
                    attachIdxList["comment-mod"].push(f)
                } else {
                    attachIdxList["comment-new"].push(f)
                }
            })
        }
    }

    function decodeString(s) {
        const textArea = document.createElement("textarea")
        textArea.innerHTML = s

        const result = textArea.value
        textArea.remove()

        return result
    }
</script>

<script>
    const queries = new URLSearchParams(window.location.search)
    const boardCode = queries.get("board_code")
    const topicIdx = queries.get("idx")
    const topicFileIdxes = "{{.Topic.Files.String}}"
    let commentsFileIdxes = {}
    "{{range .Comments.CommentList}}"
    commentsFileIdxes[parseInt("{{.Idx.Int64}}")] = "{{.Files.String}}"
    "{{end}}"
    const grantComment = (/^true$/).test(("{{.GrantComment}}").toLowerCase())

    function backToList() { location.href = `/board/list?board_code=${boardCode}` }
    function moveToEdit() { location.href = `/board/edit?board_code=${boardCode}&idx=${topicIdx}` }
    async function deleteTopic() {
        const uri = `/api/board/${boardCode}/topic/${topicIdx}`
        const r = await fetch(uri, { method: "DELETE" })

        if (r.ok) {
            alert("Deleted")
            backToList()
        }

        return false
    }

    async function deleteFile(commentIDX, fidx, storagename) {
        const data = [{ "idx": parseInt(fidx) }]
        const uri = options.uploadActionURI

        let targetRoot = document
        let container = document.querySelector("#writer-fileslist-container > ul")
        let targetAttachKey = "comment-new"
        if (commentIDX) {
            targetRoot = document.querySelector(`comment-modifier#modifier-${commentIDX}`).shadowRoot
            container = targetRoot.querySelector(`#modifier-fileslist-container > ul`)
            targetAttachKey = "comment-mod"
        }

        const r = await fetch(uri, {
            method: "DELETE",
            headers: { "Content-Type": "application/json" },
            body: JSON.stringify(data)
        })

        if (r.ok) {
            container.querySelector(`#file-${fidx}`).remove()
            for (const i in attachIdxList) {
                if (attachIdxList[i].idx == fidx && attachIdxList[i].storagename == storagename) {
                    attachIdxList.splice(i, 1)
                    break
                }
            }

            if (storagename.toLowerCase().match(/\.(bmp|jpg|jpeg|png|gif)$/i)) {
                const imgTags = targetRoot.querySelectorAll("img")
                imgTags.forEach((img) => {
                    const fnames = img.src.split("/")
                    const fname = fnames[fnames.length - 1]
                    if (fname == storagename) {
                        img.remove()
                        return
                    }
                })
            }
        } else {
            alert("Failed to delete file")
        }
    }

    const initialContent = ""
    const editorEL = document.querySelector("#writer")
    const options = {
        uploadActionURI: "/api/uploader",
        uploadAccessURI: "/upload",
        uploadCallback: imageUploadCallback(null),
    }

    "{{if eq .GrantComment true}}"
    const editor = new MyEditor(initialContent, editorEL, options)
    "{{end}}"

    class modifierElement extends HTMLElement {
        constructor() {
            super()
            const templateContent = document.querySelector("#modifier-template").content
            const shadowRoot = this.attachShadow({ mode: "open" })
            shadowRoot.appendChild(templateContent.cloneNode(true))
        }
    }
    customElements.define("comment-modifier", modifierElement)

    const commentModifiers = {}
    let currentCommentPage = parseInt("{{.Comments.CurrentPage}}")
    let totalCommentPage = parseInt("{{.Comments.TotalPage}}")

    function showCommentPageJumper() {
        const commentPages = document.querySelector("#comment-pages")
        const pageJumper = document.querySelectorAll(".page-jump")
        const topicButtonsSecond = document.querySelector("#topic-buttons-second")

        let displayMode = "initial"
        if (commentPages.innerHTML.trim() == "") { displayMode = "none" }

        pageJumper.forEach((jumper) => { jumper.style.display = displayMode })
        topicButtonsSecond.style.display = displayMode
    }

    /*
    getComments(page)
    page: number - If page is 1, last comment page
     */
    async function getComments(page = 1) {
        attachIdxList["comment-mod"] = []

        page = parseInt(page)
        if (page < 0) { page = 1 } // last page
        if (page > totalCommentPage) { page = totalCommentPage }

        const commentsContainer = document.querySelector("#comments")
        const pageContainer = document.querySelector("#comment-pages")
        const uri = `/api/board/${boardCode}/${topicIdx}/comment?page=${page}`

        const r = await fetch(uri)

        let commentsHTML = ""
        if (r.ok) {
            const data = await r.json()
            totalCommentPage = data["total-page"]
            commentsFileIdxes = {}

            data["comment-list"] && data["comment-list"].forEach((comment) => {
                const regdate = dayjs(comment["regdate"]).format("YYYY-MM-DD HH:mm:ss")

                commentsHTML += `
                <span>${comment["author-name"]}</span>|
                <span>${regdate}</span>|
                %%_BUTTON_EDIT_DELETE_%%
                <span id="comment-${comment['idx']}">${decodeString(comment["content"])}</span>
                <comment-modifier id="modifier-${comment["idx"]}" data-idx="${comment["idx"]}"></comment-modifier>
                <a onclick="getFilesInfo(parseInt('${comment["idx"]}'))">Attachment</a>
                <div id="comment-files-container-${comment["idx"]}">
                    <ul></ul>
                </div>
                `
                const buttonEditDelete = `
                <button type="button" onclick="openEditComment('${comment["idx"]}')">edit</button>
                <button type="button" onclick="deleteComment('${comment["idx"]}')">delete</button>
                `
                if ((grantComment && comment["author-idx"] == parseInt("{{.UserInfo.UserIdx}}") || (".UserInfo.UserGrade" == "admin"))) {
                    commentsHTML = commentsHTML.replace("%%_BUTTON_EDIT_DELETE_%%", buttonEditDelete)
                }
                commentsHTML = commentsHTML.replace("%%_BUTTON_EDIT_DELETE_%%", "")

                commentsFileIdxes[parseInt(comment["idx"])] = comment.files
            })
            commentsContainer.innerHTML = commentsHTML

            // paging
            const begin = data["current-page"] - 5 > 0 ? data["current-page"] - 5 : 1
            const fin = data["current-page"] + 5 <= data["total-page"] ? data["current-page"] + 5 : data["total-page"]

            if (page == 0) { page = totalCommentPage }

            let pages = ""
            data["page-list"].forEach((p) => {
                if (p == page) {
                    pages += `<b>${p}</b>`
                } else {
                    pages += `<a onclick="getComments('${p}')">${p}</a>`
                }
                pages += "\n"
            })
            pageContainer.innerHTML = pages

            currentCommentPage = data["current-page"]
            totalCommentPage = data["total-page"]

            showCommentPageJumper()
        }
    }

    async function writeComment() {
        const uri = `/api/board/${boardCode}/${topicIdx}/comment`
        const content = editor.getHTML()

        // const emptyContent = "<p><br></p>"
        const emptyContent = "<p></p>"
        if (content.trim() == emptyContent) {
            alert("Text is empty")
            return false
        }

        let fileIndices = ""
        for (const f of attachIdxList["comment-new"]) { fileIndices += `${f.idx}|` }
        if (fileIndices.length > 0) { fileIndices = fileIndices.slice(0, -1) }

        const data = {
            "author-idx": 1,
            "author-name": "admin",
            "content": content,
            "files": fileIndices
        }

        const r = await fetch(uri, {
            method: "POST",
            headers: { "Content-Type": "application/json" },
            body: JSON.stringify(data)
        })

        if (r.ok) {
            getComments(0)

            editor.setHTML("")
            attachIdxList["comment-new"] = []
            document.querySelector("#writer-fileslist-container > ul").innerHTML = ""

            return false
        }

        const response = await r.json()
        // alert("Write failed")
        alert(response.message)

        return false
    }

    async function getFilesInfo(idx = null, targetEL = null) {
        const indexList = []
        let attachList

        let fileIdxes = topicFileIdxes.split("|")
        let targetContainer = "#topic-fileslist-container > ul"
        let targetAttachKey = "topic"
        if (idx) {
            fileIdxes = commentsFileIdxes[parseInt(idx)].split("|")
            targetContainer = `#comment-files-container-${idx} > ul`
            targetAttachKey = "comment-mod"
        }

        if (!targetEL) {
            attachList = document.querySelector(targetContainer)
        } else {
            attachList = targetEL
        }

        if (!fileIdxes.length) { return false }

        for (const fidx of fileIdxes) {
            indexList.push({ idx: parseInt(fidx) })
        }

        const uri = "/api/uploader/files-info"

        const r = await fetch(uri, {
            method: "POST",
            headers: { "Content-Type": "application/json" },
            body: JSON.stringify(indexList)
        })

        if (r.ok) {
            const commentData = await r.json()
            attachIdxList[targetAttachKey] = []

            attachList.innerHTML = ""
            commentData.forEach((f) => {
                const li = document.createElement("li")
                li.setAttribute("id", `file-${f.idx}`)

                if (!targetEL) {
                    const a = document.createElement("a")
                    a.setAttribute("href", `/upload/${f.storagename}`)
                    a.setAttribute("target", "_blank")
                    a.appendChild(document.createTextNode(`${f.filename}`))

                    if (f.storagename.toLowerCase().match(/\.(bmp|jpg|jpeg|png|gif)$/i)) {
                        const im = document.createElement("img")
                        im.setAttribute("src", `/upload/${f.storagename}`)
                        const d = document.createElement("div")
                        d.setAttribute("class", "hover-view")
                        d.appendChild(im)
                        a.appendChild(d)
                    }

                    li.appendChild(a)
                } else {
                    const btn = document.createElement("button")
                    btn.setAttribute("onclick", `deleteFile(${idx}, ${f.idx}, '${f.storagename}')`)
                    btn.appendChild(document.createTextNode("X"))

                    li.appendChild(document.createTextNode(`${f.filename}`))
                    li.appendChild(btn)
                }

                attachList.appendChild(li)

                attachIdxList[targetAttachKey].push(f)
            })
        }
    }

    function openEditComment(idx) {
        attachIdxList["comment-mod"] = []

        const modifierEL = document.querySelector(`comment-modifier#modifier-${idx}`)
        const modifierROOT = modifierEL.shadowRoot
        const modContent = document.querySelector(`#comment-${idx}`).innerHTML

        const editorEL = modifierROOT.querySelector("#modifier")
        const options = {
            uploadActionURI: "/api/uploader",
            uploadAccessURI: "/upload",
            uploadCallback: imageUploadCallback(idx),
        }

        if (!editorEL.hasChildNodes()) {
            commentModifiers[`modifier-${idx}`] = new MyEditor(modContent, editorEL, options)
        }

        if (modifierEL.style.display != "block") {
            commentModifiers[`modifier-${idx}`].setHTML(modContent)
        }

        for (const i in commentModifiers) {
            commentModifiers[i].view.dom.getRootNode().host.style.display = "none"
        }

        const attachList = modifierROOT.querySelector("#modifier-fileslist-container > ul")
        getFilesInfo(idx, attachList)

        modifierEL.style.display = "block"

        const scrollOffsetY = editorEL.getBoundingClientRect().top - document.body.getBoundingClientRect().top
        window.scroll(window.scrollX, scrollOffsetY)
    }

    async function deleteComment(commentIDX) {
        const uri = `/api/board/${boardCode}/${topicIdx}/comment/${commentIDX}`
        const r = await fetch(uri, {
            method: "DELETE"
        })

        if (r.ok) {
            const response = await r.json()

            if (currentCommentPage == totalCommentPage) {
                await getComments(totalCommentPage)
            } else {
                await getComments(currentCommentPage)
            }

            if (currentCommentPage > totalCommentPage) {
                await getComments(totalCommentPage)
            }
        } else {
            alert("Failed to delete")
        }
    }

    async function updateComment(self) {
        const modifierEL = self.getRootNode().host
        const commentIDX = self.getRootNode().host.dataset.idx
        const content = commentModifiers[modifierEL.id].getHTML()

        let flist = ""
        for (f of attachIdxList["comment-mod"]) {
            flist += f.idx
        }
        flist = flist.replace(/|\s*$/, "")

        const data = {
            "content": content,
            "files": flist
        }

        const uri = `/api/board/${boardCode}/${topicIdx}/comment/${commentIDX}`
        const r = await fetch(uri, {
            method: "PUT",
            headers: { "Content-Type": "application/json" },
            body: JSON.stringify(data)
        })

        if (r.ok) {
            if (currentCommentPage == totalCommentPage) {
                getComments(totalCommentPage)
            } else {
                getComments(currentCommentPage)
            }
        } else {
            alert("Failed to update")
        }

        modifierEL.style.display = "none"
    }

    function cancelEditComment(self) {
        const modifierEL = self.getRootNode().host
        const modifierROOT = modifierEL.shadowRoot
        const editorEL = modifierROOT.querySelector("#modifier")

        modifierEL.style.display = "none"
    }

    async function init() {
        showCommentPageJumper()
        await getFilesInfo()
        // filesList = []
    }
    document.addEventListener("DOMContentLoaded", function () { init() })
</script>

{{template "layout_board_footer" .}}