{{template "board/include/header" .}}

<div>
    <!-- <div>
        {{.Content.Idx.Int64}}
    </div> -->

    <div>
        <span>{{.Content.Title.String}}</span>
    </div>

    <div>
        <span>{{.Content.AuthorName.String}}</span> |
        <span>{{.Content.RegDate.String}}</span> |
        <span>{{.Content.Views.Int64}}</span>
    </div>

    <div>
        {{unescape .Content.Content.String}}
    </div>

    <div>
        {{.Content.Files.String}}
    </div>
</div>

<div>
    <button type="button" onclick="backToList()">List</button>
    <button type="button" onclick="moveToEdit()">Edit</button>
</div>

<script>
    const queries = new URLSearchParams(window.location.search)
    const boardCode = queries.get("board_code")
    const contentIdx = queries.get("idx")
    const fileIndices = "{{.Content.Files.String}}"

    function backToList() { location.href = `/board/list?board_code=${boardCode}` }
    function moveToEdit() { location.href = `/board/edit?board_code=${boardCode}&idx=${contentIdx}` }

    function init() { }

    document.addEventListener("DOMContentLoaded", function () { init() })
</script>

{{template "board/include/footer" .}}