{{template "board/include/header" .}}

<div>
    <label for="image-upload">Image:</label>
    <input type="file" id="image-upload" multiple>
    <button type="button" onclick="insertImage()">Upload</button>
</div>
<div>
    <label for="file-upload">File:</label>
    <input type="file" id="file-upload" multiple>
    <button type="button" onclick="insertFile()">Upload</button>
</div>

<div>
    <input type="hidden" id="title-image" placeholder="Title Image">
    <input type="text" id="title" placeholder="Title">
</div>

<div id="editor">
    <textarea>Write here</textarea>
</div>
<div>
    <button type="button" onclick="moveToList()">Cancel</button>
    <button type="button" onclick="writeContent()">Save</button>
</div>

<div id="filelist-container">
    <ul>
        <li>
            <span>
                {{.filename}}
                <button lr-click="setFileToDelete($index)">X</button>
            </span>
            <span>
                <s>{{.filename}}</s>
                <button lr-click="unsetFileFromDelete($index)">Undo</button>
            </span>
        </li>
    </ul>
</div>

{{template "board/include/footer" .}}