{{template "layout_board_header" .}}

<link rel="stylesheet" href="/assets/css/myeditor.css" />
<script src="/assets/js/myeditor.js"></script>

<style>
    li>div.hover-view {
        display: none;
        max-width: 50vw;
        position: fixed;
        top: 0;
        right: 0;
        z-index: 999;
    }

    li:hover>div.hover-view {
        display: block;
    }
</style>

{{if or (eq .UserInfo.UserID "") (le .UserInfo.UserIdx 0)}}
<input type="text" id="nickname" placeholder="Nickname" />
<input type="password" id="password" placeholder="Password" />
{{end}}

<div class="title-wrapper">
    <input type="text" id="title" placeholder="Title">
</div>

<div id="editor" class="topic-editor"></div>

<div>
    <input type="file" id="upload-files" multiple />
    <button type="button" onclick="uploadFile()">Upload</button>
</div>

<div id="fileslist-container">
    <ul>
        <!--
        <li>
            <span>{{.filename}}<button lr-click="setFileToDelete($index)">X</button></span>
            <span><s>{{.filename}}</s><button lr-click="unsetFileFromDelete($index)">Undo</button></span>
        </li>
        -->
    </ul>
</div>

<hr />

<div>
    <button type="button" onclick="backToList()">Cancel</button>
    <button type="button" onclick="writeTopic()">Save</button>
</div>

<script>
    const imageUploadCallback = function (response) {
        if (response.message == "success") {
            const fcontainer = document.querySelector("#fileslist-container > ul")
            response.files.forEach((f) => {
                const btn = document.createElement("button")
                btn.setAttribute("onclick", `deleteFile('${f.idx}', '${f.storagename}')`)
                btn.appendChild(document.createTextNode("X"))

                const li = document.createElement("li")
                li.setAttribute("id", `file-${f.idx}`)
                li.appendChild(document.createTextNode(`${f.filename}`))
                li.appendChild(btn)

                if (f.storagename.toLowerCase().match(/\.(bmp|jpg|jpeg|png|gif)$/i)) {
                    const im = document.createElement("img")
                    im.setAttribute("src", `/upload/${f.storagename}`)
                    const d = document.createElement("div")
                    d.setAttribute("class", "hover-view")
                    d.appendChild(im)
                    li.appendChild(d)
                }

                fcontainer.appendChild(li)

                filesList.push(f)
            })
        }
    }
</script>

<script>
    const queries = new URLSearchParams(window.location.search)
    const boardCode = queries.get("board_code")

    const initialContent = ""
    const filesList = []

    const editorEL = document.querySelector("#editor")
    const options = {
        uploadActionURI: "/api/uploader",
        uploadAccessURI: "/upload",
        uploadCallback: imageUploadCallback,
    }
    const editor = new MyEditor(initialContent, editorEL, options)

    async function uploadFile() {
        const files = document.querySelector("#upload-files").files

        const formData = new FormData()
        for (const blob of Array.from(files)) {
            formData.append("upload-files", blob)
        }

        const uri = options.uploadActionURI
        const r = await fetch(uri, {
            method: "POST",
            body: formData
        })

        if (r.ok) {
            const response = await r.json()

            const fcontainer = document.querySelector("#fileslist-container > ul")
            response.files.forEach((f) => {
                const btn = document.createElement("button")
                btn.setAttribute("onclick", `deleteFile('${f.idx}', '${f.storagename}')`)
                btn.appendChild(document.createTextNode("X"))

                const li = document.createElement("li")
                li.setAttribute("id", `file-${f.idx}`)
                li.appendChild(document.createTextNode(`${f.filename}`))
                li.appendChild(btn)

                if (f.storagename.toLowerCase().match(/\.(bmp|jpg|jpeg|png|gif)$/i)) {
                    const im = document.createElement("img")
                    im.setAttribute("src", `/upload/${f.storagename}`)
                    const d = document.createElement("div")
                    d.setAttribute("class", "hover-view")
                    d.appendChild(im)
                    li.appendChild(d)
                }

                fcontainer.appendChild(li)
                filesList.push(f)
            })
        }
    }

    async function deleteFile(idx, storagename) {
        const data = [{ "idx": parseInt(idx) }]
        const uri = options.uploadActionURI

        const r = await fetch(uri, {
            method: "DELETE",
            headers: { "Content-Type": "application/json" },
            body: JSON.stringify(data)
        })

        if (r.ok) {
            document.querySelector(`#file-${idx}`).remove()
            for (const i in filesList) {
                if (filesList[i].idx == idx && filesList[i].storagename == storagename) {
                    filesList.splice(i, 1)
                    break
                }
            }

            if (storagename.toLowerCase().match(/\.(bmp|jpg|jpeg|png|gif)$/i)) {
                const imgTags = document.querySelectorAll("img")
                imgTags.forEach((img) => {
                    const fnames = img.src.split("/")
                    const fname = fnames[fnames.length - 1]
                    if (fname == storagename) {
                        img.remove()
                        return
                    }
                })
            }
        } else {
            alert("Failed to delete file")
        }
    }

    async function writeTopic() {
        const uri = `/api/board/${boardCode}/topic`

        let authoridx = "{{.UserInfo.UserIdx}}"
        let authorname = "{{.UserInfo.UserID}}"
        let nickname, password = ""
        if (authorname.trim() == "" || authoridx.trim() == "") {
            nickname = document.querySelector("#nickname").value
            password = document.querySelector("#password").value

            if (!nickname) {
                alert("Nickname is required")
                return false
            }
            if (!password) {
                alert("Password is required")
                return false
            }

            authoridx = "-1"
            authorname = nickname
        }

        const title = document.querySelector("#title").value
        const content = editor.getHTML()

        let fileIndices = ""
        for (const f of filesList) { fileIndices += `${f.idx}|` }
        if (fileIndices.length > 0) { fileIndices = fileIndices.slice(0, -1) }

        const data = {
            "title": title,
            "author-idx": parseInt(authoridx),
            "author-name": authorname,
            "edit-password": password,
            "content": content,
            "files": fileIndices
        }

        const r = await fetch(uri, {
            method: "POST",
            headers: { "Content-Type": "application/json" },
            body: JSON.stringify(data)
        })

        if (r.ok) {
            location.href = `/board/list?board_code=${boardCode}`
        } else {
            alert("Write failed")
        }

        return false
    }

    function backToList() {
        location.href = `/board/list?board_code=${boardCode}`
    }
</script>

{{template "layout_board_footer" .}}