{{template "admin/include/header" .}}

<script>
    document.title = "Boards list"
</script>

<h1>Boards</h1>

<div>
    <label for="search">Search:</label>
    <input type="text" id="search" onkeyup="pressEnter()" placeholder="Search for...">
    <button type="button" onclick="search()">Search</button>
</div>

<button type="button" onclick="openAdd()">Create</button>

<table id="boards-list-container">
    <thead>
        <tr>
            <!-- <td><input type="checkbox" name="select-all" placeholder="Select all" /></td> -->
            <th>Index</td>
            <th>Name</td>
            <th>Code</td>
            <th>Type</td>
            <th>Board table</td>
            <th>Comment table</td>
            <th>Grant read</td>
            <th>Grant write</td>
            <th>Grant comment</td>
            <th>Grant upload</td>
            <th>Control</td>
        </tr>
    </thead>
    <tr id="add-board">
        <!-- <td>&nbsp;</td> -->
        <td>&nbsp;</td>
        <td><input type="text" name="board-name" value="" placeholder="Board name" /></td>
        <td><input type="text" name="board-code" onchange="setTableNameByCode(this)" value="" placeholder="Board code" /></td>
        <td><input type="text" name="board-type" onchange="restrictDatalist(this)" list="board-types" value="" autocomplete="off" placeholder="Board type" /></td>
        <td><input type="text" name="board-table" value="" placeholder="Board table" disabled /></td>
        <td><input type="text" name="comment-table" value="" placeholder="Comment table" disabled /></td>
        <td><input type="text" name="grant-read" onchange="restrictDatalist(this)" list="grant-list" value="" autocomplete="off" placeholder="Grant read" /></td>
        <td><input type="text" name="grant-write" onchange="restrictDatalist(this)" list="grant-list" value="" autocomplete="off" placeholder="Grant write" /></td>
        <td><input type="text" name="grant-comment" onchange="restrictDatalist(this)" list="grant-list" value="" autocomplete="off" placeholder="Grant comment" /></td>
        <td><input type="text" name="grant-upload" onchange="restrictDatalist(this)" list="grant-list" value="" autocomplete="off" placeholder="Grant upload" /></td>
        <td>
            <button type="button" onclick="closeAdd()">Cancel</button>
            <button type="button" onclick="addBoard()">Save</button>
        </td>
    </tr>
    <tbody id="boards-list-body" lr-loop="boardsList">
        <tr lr-if="boardEditIndex != $index">
            <!-- <td><input type="checkbox" name="select$index" placeholder="Select" /></td> -->
            <td>idx</td>
            <td>board-name</td>
            <td>board-code</td>
            <td>board-type</td>
            <td>board-table</td>
            <td>comment-table</td>
            <td>grant-read</td>
            <td>grant-write</td>
            <td>grant-comment</td>
            <td>grant-upload</td>
            <td>
                <button type="button" lr-click="moveToListView($index)">View</button>
                <button type="button" lr-click="openEdit($index)">Edit</button>
                <button type="button" lr-click="deleteBoard($index)">Delete</button>
            </td>
        </tr>
        <tr lr-if="boardEditIndex == $index">
            <!-- <td>&nbsp;</td> -->
            <td>
                <input type="hidden" name="idx" value="idx" placeholder="Index" />
                <span>idx</span>
            </td>
            <td><input type="text" name="board-name" value="{{.boardName}}" placeholder="Board name" /></td>
            <td><input type="text" name="board-code" value="{{.boardCode}}" placeholder="Board code" /></td>
            <td><input type="text" name="board-type" list="board-types" value="{{.boardType}}" autocomplete="off" placeholder="Board type" onchange="restrictDatalist(this)" /></td>
            <td><input type="text" name="board-table" value="{{.boardTable}}" placeholder="Board table" disabled /></td>
            <td><input type="text" name="comment-table" value="{{.commentTable}}" placeholder="Comment table" disabled /></td>
            <td><input type="text" name="grant-read" list="grant-list" value="{{.grantRead}}" autocomplete="off" placeholder="Grant read" onchange="restrictDatalist(this)" /></td>
            <td><input type="text" name="grant-write" list="grant-list" value="{{.grantWrite}}" autocomplete="off" placeholder="Grant write" onchange="restrictDatalist(this)" /></td>
            <td><input type="text" name="grant-comment" list="grant-list" value="{{.grantComment}}" autocomplete="off" placeholder="Grant comment" onchange="restrictDatalist(this)" /></td>
            <td><input type="text" name="grant-upload" list="grant-list" value="{{.grantUpload}}" autocomplete="off" placeholder="Grant upload" onchange="restrictDatalist(this)" /></td>
            <td>
                <button type="button" onclick="closeEdit()">Cancel</button>
                <button type="button" onclick="updateBoard()">Save</button>
            </td>
        </tr>
    </tbody>
</table>

<datalist id="grant-list">
    <option value="admin">Admin</option>
    <option value="manager">Manager</option>
    <option value="regular_user">Regular user</option>
    <option value="pending_user">Pending user</option>
    <option value="banned_user">Banned user</option>
    <option value="guest">Guest</option>
</datalist>

<datalist id="board-types">
    <option value="board">Board</option>
    <option value="gallery">Gallery</option>
</datalist>

<div id="pages-container">
    <div lr-loop="pages">
        <span lr-if="$index == 0 && pages[0].page > 1">&laquo;</span>
        <span lr-if="$index == 0 && pages[0].page > 1">&lt;</span>

        <b lr-if="page == boardsData['current-page']"><a onclick="location.href='{{.link}}'">{{.page}}</a></b>
        <a lr-if="page != boardsData['current-page']" onclick="location.href='{{.link}}'">{{.page}}</a>

        <span lr-if="page < boardsData['total-page'] && $index == (pages.length - 1)">&gt;</span>
        <span lr-if="page < boardsData['total-page'] && $index == (pages.length - 1)">&raquo;</span>
    </div>
</div>

<script>
    let boardEditIndex = -1
    const url = new URL(window.location.href)
    const urlPath = url.pathname
    const urlParams = url.searchParams
    let boardsData, boardsList
    let pages = new Array()

    function restrictDatalist(e) {
        for (let i = 0; i < e.list.options.length; i++) {
            if (e.list.options[i].value == e.value) { return false }
        }
        e.value = ""
    }

    function setTableNameByCode(self) {
        self.value = self.value.replace(/\s/g, '')
        const code = self.value

        const containerID = self.parentElement.parentElement.id

        const boardTable = document.querySelector("#" + containerID + " input[name=board-table]")
        const commentTable = document.querySelector("#" + containerID + " input[name=comment-table]")

        boardTable.value = "board_" + code.toLowerCase()
        commentTable.value = "comment_" + code.toLowerCase()
    }

    function openAdd() { document.querySelector("#add-board").style.display = "table-row" }
    function closeAdd() { document.querySelector("#add-board").style.display = "none" }
    async function addBoard() {
        const boardname = document.querySelector("#add-board input[name='board-name']").value
        const boardcode = document.querySelector("#add-board input[name='board-code']").value
        const boardtype = document.querySelector("#add-board input[name='board-type']").value
        const boardtable = document.querySelector("#add-board input[name='board-table']").value
        const commenttable = document.querySelector("#add-board input[name='comment-table']").value
        const grantread = document.querySelector("#add-board input[name='grant-read']").value
        const grantwrite = document.querySelector("#add-board input[name='grant-write']").value
        const grantcomment = document.querySelector("#add-board input[name='grant-comment']").value
        const grantupload = document.querySelector("#add-board input[name='grant-upload']").value

        const data = {
            "board-name": boardname,
            "board-code": boardcode,
            "board-type": boardtype,
            "board-table": boardtable,
            "comment-table": commenttable,
            "grant-read": grantread,
            "grant-write": grantwrite,
            "grant-comment": grantcomment,
            "grant-upload": grantupload
        }

        for (const key in data) {
            if (data[key] == "") {
                alert("Please fill all fields")
                return
            }
        }

        const uri = "/api/admin/boards/board"
        const r = await fetch(uri, {
            method: 'POST',
            headers: { 'Content-Type': 'application/json' },
            body: JSON.stringify(data)
        })

        if (r.ok) { location.reload() }
    }

    function moveToListView(index) { window.open("/board?code=" + boardsList[index]["board-code"], "_blank") }
    function openEdit(idx) {
        boardEditIndex = idx
        lrBoardsList.reload()
    }
    function closeEdit(event) {
        boardEditIndex = -1
        lrBoardsList.reload()
    }

    async function updateBoard() {
        const idx = document.querySelector("#boards-list-body input[name='idx']").value
        const boardname = document.querySelector("#boards-list-body input[name='board-name']").value
        const boardcode = document.querySelector("#boards-list-body input[name='board-code']").value
        const boardtype = document.querySelector("#boards-list-body input[name='board-type']").value
        const boardtable = document.querySelector("#boards-list-body input[name='board-table']").value
        const commenttable = document.querySelector("#boards-list-body input[name='comment-table']").value
        const grantread = document.querySelector("#boards-list-body input[name='grant-read']").value
        const grantwrite = document.querySelector("#boards-list-body input[name='grant-write']").value
        const grantcomment = document.querySelector("#boards-list-body input[name='grant-comment']").value
        const grantupload = document.querySelector("#boards-list-body input[name='grant-upload']").value

        const data = {
            "idx": idx,
            "board-name": boardname,
            "board-code": boardcode,
            "board-type": boardtype,
            "board-table": boardtable,
            "comment-table": commenttable,
            "grant-read": grantread,
            "grant-write": grantwrite,
            "grant-comment": grantcomment,
            "grant-upload": grantupload
        }

        for (const key in data) {
            if (data[key] == "") {
                alert("Please fill all fields")
                return
            }
        }

        const uri = "/api/admin/boards/board"
        const r = await fetch(uri, {
            method: 'PUT',
            headers: { 'Content-Type': 'application/json' },
            body: JSON.stringify(data)
        })

        if (r.ok) { location.reload() }
    }

    function deleteBoard(index) {
        const uri = "/api/admin/boards/board/" + boardsList[index].idx
        fetch(uri, { method: 'DELETE' }).then(() => { location.href = urlPath })
    }

    function pressEnter() { if (window.event.keyCode == 13) { search() } }
    function search() {
        let countParam = ""
        const search = document.querySelector("#search").value

        if (search.length < 2) {
            if (search == "") {
                if (urlParams.get("count")) { countParam += "?count=" + urlParams.get("count") }
                location.href = urlPath + countParam

                return false
            }

            alert("Required at least 2 characters")

            return false
        }

        if (urlParams.get("count")) { countParam += "&count=" + urlParams.get("count") }
        const url = `?search=${search}` + countParam
        location.href = url

        return false
    }

    boardsData = $BOARD_LIST$
    boardsList = boardsData["board-list"]

    let countParam = ""
    if (urlParams.get("search")) {
        document.querySelector("#search").value = urlParams.get("search")
        countParam = "&search=" + urlParams.get("search")
    }
    if (urlParams.get("count")) { countParam += "&count=" + urlParams.get("count") }

    for (let i = boardsData["current-page"] - 1; i < boardsData["current-page"] + 2; i++) {
        if (i > boardsData["total-page"]) { break }
        if (i > 0) {
            const pageInfo = {
                "page": i,
                "link": `?page=${i}` + countParam
            }
            pages.push(pageInfo)
        }
    }

    const lrBoardsList = new ListRenderer(document.querySelector("#boards-list-container"))
    lrBoardsList.render()

    const lrPage = new ListRenderer(document.querySelector("#pages-container"))
    lrPage.render()
</script>

<style>
    table,
    th,
    td {
        border: 1px solid black;
    }

    #add-board {
        display: none;
    }
</style>

{{template "admin/include/footer" .}}