<div id="app">
    <div class="header">
        <h1>Users</h1>
        <a href="/">Root</a>
        <input v-model="searchKeyword" @keyup.enter="search()" placeholder="Search" />&nbsp;<button @click="search()">🍳</button>
    </div>

    <hr />

    <table>
        <thead>
            <tr>
                <th v-for="c, i in columns">{{c.name}}</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td v-for="c, j in columns">
                    <span v-if="c.column == 'IDX'">Add user:</span>
                    <select v-else-if="c.column == 'ADMIN' || c.column == 'APPROVAL'" v-model="userAdd[c.column]">
                        <option value="N">N</option>
                        <option value="Y">Y</option>
                    </select>
                    <input v-else v-model="userAdd[c.column]" />
                </td>
                <td><button @click="addUser()">Add</button></td>
            </tr>
            <tr v-for="u, i in users">
                <template v-if="userUpdate && Object.keys(userUpdate).length === 0 && userUpdate.constructor === Object">
                    <td v-for="c, j in columns">{{u[c.column]}}</td>
                    <td>
                        <button @click="userUpdate = u">Edit</button>
                        <button @click="deleteUser(u['IDX'])">Delete</button>
                    </td>
                </template>
                <template v-else>
                    <td v-for="c, j in columns" @keyup.enter="updateUser()">
                        <span v-if="c.column == 'IDX'">{{u[c.column]}}</span>
                        <select v-else-if="c.column == 'ADMIN' || c.column == 'APPROVAL'" v-model="u[c.column]">
                            <option value="N">N</option>
                            <option value="Y">Y</option>
                        </select>
                        <input v-else v-model="u[c.column]" />
                    </td>
                    <td>
                        <button @click="userUpdate = {}">Cancel</button>
                        <button @click="updateUser()">Save</button>
                    </td>
                </template>
            </tr>
        </tbody>
    </table>

    <hr />

</div>

<script>
    Vue.prototype.location = window.location
    const vm = new Vue({
        el: "#app",
        data: {
            restURIdomain: window.location.protocol + "//" + window.location.host,
            restURI: window.location.protocol + "//" + window.location.host + "/api/admin",
            users: [],
            userAdd: {},
            userUpdate: {},
            // columns: '##__COLUMNS__##',
            columns: [],
            table: "'##__TABLE_NAME__##'",
            boardCode: "'##__BOARD_CODE__##'",
            searchKeyword: "",
        },
        mounted() {
            this.initData()
        },
        directives: {
            uppercase: {
                update: function (el) {
                    el.value = el.value.toUpperCase()
                    el.dispatchEvent(new Event('input'))
                }
            }
        },
        computed: {
            nextFieldIdx() {
                if (this.columns.length > 0) {
                    let fields = this.columns.slice()
                    fields.sort((first, second) => (first.order > second.order) ? 1 : ((second.order > first.order) ? -1 : 0))

                    return fields[fields.length - 1].order + 1
                }

                // 1~7: default column indexes of user table
                return 8
            },
        },
        methods: {
            async initData() {
                await this.checkLogedIn()
                await this.getColumnNames()
                await this.getUsers()
            },
            async checkLogedIn() {
                let result = false
                let reissue = false
                let response = ""
                let r = ""

                const token = localStorage.getItem('token')

                if (token != null) {
                    response = await fetch(this.restURIdomain + "/api/user/token/verify", {
                        method: "POST",
                        headers: { "Authorization": "Bearer " + token }
                    })
                    if (response.ok) {
                        r = await response.json()
                        if (r.msg == "OK") { result = true }
                    } else {
                        if (response.status != 200) {
                            r = await response.json()
                            if (r.msg == "Token is expired") { reissue = true }
                        }
                    }

                    if (!result && reissue) {
                        response = await fetch(this.restURIdomain + "/api/user/token/verify", {
                            method: "GET",
                            headers: { "Authorization": "Bearer " + token }
                        })

                        if (response.ok) {
                            r = await response.json()
                            localStorage.setItem("token", r.token)
                            result = true
                        } else {
                            localStorage.removeItem("token")
                            result = false
                        }
                    }
                }

                if (!result) {
                    swal.fire("Authorization failed", "Token is not exist or invalid", "error")
                    location.href = "/users/login"
                } else {
                    this.token = token
                }
            },
            async getColumnNames() {
                let headers = {
                    "Accept": "application/json",
                    "Content-Type": "application/json",
                }

                if (this.token != undefined && this.token != null) {
                    Object.assign(headers, { "Authorization": "Bearer " + this.token })
                }

                let response = await fetch(this.restURI + "/user-columns", {
                    method: "GET",
                    headers: headers,
                })
                if (response.ok) {
                    this.columns = await response.json()
                    this.columns.sort((a, b) => (a.order > b.order) ? 1 : ((b.order > a.order) ? -1 : 0))
                }
            },
            async getUsers() {
                let keywords = []

                let columns = this.columns.map((c) => {
                    if (this.searchKeyword != "" && c.column != "IDX") {
                        let keyword = {}

                        keyword[c.column] = this.searchKeyword
                        keywords.push(keyword)
                    }

                    return c.column
                })

                let headers = {
                    "Accept": "application/json",
                    "Content-Type": "application/json",
                }

                if (this.token != undefined && this.token != null) {
                    Object.assign(headers, { "Authorization": "Bearer " + this.token })
                }

                let response = await fetch(this.restURI + "/users", {
                    method: "POST",
                    headers: headers,
                    body: JSON.stringify({
                        keywords: keywords,
                        options: {
                            order: "desc",
                            count: "10"
                        },
                        columns: columns,
                        table: "USERS"
                    })
                })
                if (response.ok) {
                    this.users = await response.json()
                }
            },
            async addUser() {
                if (Object.keys(this.userAdd).length < (this.columns.length - 1)) {
                    swal.fire("Empty", "Fill all.", "warning")
                    return false
                }

                let headers = {
                    "Accept": "application/json",
                    "Content-Type": "application/json",
                }

                if (this.token != undefined && this.token != null) {
                    Object.assign(headers, { "Authorization": "Bearer " + this.token })
                }

                let response = await fetch(this.restURI + "/users", {
                    method: "PUT",
                    headers: headers,
                    body: JSON.stringify(this.userAdd)
                })
                if (response.ok) {
                    swal.fire("Done", "Done to add", "success")
                    this.userAdd = {}
                    this.getUsers()
                }
            },
            async updateUser() {
                let headers = {
                    "Accept": "application/json",
                    "Content-Type": "application/json",
                }

                if (this.token != undefined && this.token != null) {
                    Object.assign(headers, { "Authorization": "Bearer " + this.token })
                }

                let response = await fetch(this.restURI + "/users", {
                    method: "PATCH",
                    headers: headers,
                    body: JSON.stringify(this.userUpdate)
                })
                if (response.ok) {
                    swal.fire("Done", "Done to update", "success")
                    this.userUpdate = {}
                    this.getUsers()
                }
            },
            async deleteUser(idx) {
                const confirm = await swal.fire({
                    title: "Confirm",
                    text: "Are you sure?",
                    icon: "warning",
                    showCancelButton: true,
                    confirmButtonText: "Delete",
                    cancelButtonText: "Cancel"
                })

                if (!confirm.isConfirmed) {
                    return false
                }

                let response = await fetch(this.restURI + "/users/" + idx, {
                    method: "DELETE",
                    headers: headers,
                })
                if (response.ok) {
                    swal.fire("Done", "Done to delete", "success")
                    this.getUsers()
                }
            },
            search() {
                this.getUsers()
            },
        }
    })
</script>

<style>
    * {
        font-size: 0.95em;
    }

    body {
        margin: 0;
        padding: 0.5em;
        max-width: 100%;
    }

    #app {
        width: 100%;
    }

    table {
        table-layout: fixed;
        text-align: unset;
    }

    td {
        text-align: center;
    }

    td.link {
        cursor: pointer;
    }

    td.link:hover {
        text-decoration: underline;
    }

    tbody>tr:hover {
        background: #FFD3D3;
    }
</style>