<div id="app">
    <div class="header">
        <h1>Board manager</h1>

        <a href="/">Root</a>

        <select v-model="page.countPerPage" @change="page.current=1; getData()">
            <option value="10">10</option>
            <option value="20">20</option>
            <option value="40">40</option>
            <option value="80">80</option>
        </select>

        <!-- <button @click="setLocale('en')">English</button>&nbsp;<button @click="setLocale('ko')">한국어</button> -->
        <span></span>
        <input v-model="searchKeyword" @keyup.enter="search()" :placeholder="$t('elem.search')" />&nbsp;<button @click="search()">{{ $t("elem.find") }}</button>
        <hr />
    </div>

    <table>
        <thead>
            <tr>
                <!-- <th @click="changeOrder()"><a href="javascript:">{{ $t("table.order") }}</a></th> -->
                <th @click="changeOrder()"><a href="javascript:">Idx</a></th>
                <th>{{ $t("table.boardname") }}</th>
                <th>{{ $t("table.boardcode") }}</th>
                <th>{{ $t("table.boardtype") }}</th>
                <th>{{ $t("table.tablename") }}</th>
                <th>Access Read</th>
                <th>Access Write/Edit</th>
                <th>Write/Edit Comment</th>
                <th>Use file upload</th>
                <th>{{ $t("table.fields") }} / {{ $t("table.copy") }}</th>
                <th></th>
            </tr>
        </thead>

        <tbody>
            <!-- Add board -->
            <tr>
                <td>Add board:</td>
                <td><input v-model="boardAdd.name" /></td>
                <td><input v-model="boardAdd.code" /></td>
                <td>
                    <select v-model="boardAdd.type" @change="boardAdd.fields=[]">
                        <option value="basic-board">Basic board</option>
                        <option value="custom-board">Custom board</option>
                        <option value="custom-tablelist">Custom table list</option>
                    </select>
                </td>
                <td><input type="text" v-model="boardAdd.table" v-uppercase /></td>
                <td>
                    <select v-model="boardAdd['grant-read']">
                        <option value="all">All allowed</option>
                        <option value="user">User</option>
                        <option value="admin">Admin</option>
                    </select>
                </td>
                <td>
                    <select v-model="boardAdd['grant-write']">
                        <option value="all">All allowed</option>
                        <option value="user">User</option>
                        <option value="admin">Admin</option>
                    </select>
                </td>
                <td>
                    <select v-model="boardAdd['grant-comment']">
                        <option value="not-use">Not use</option>
                        <option value="all">All allowed</option>
                        <option value="user">User</option>
                        <option value="admin">Admin</option>
                    </select>
                </td>
                <td>
                    <select v-model="boardAdd['file-upload']">
                        <option value="N">Not use</option>
                        <option value="Y">Use</option>
                    </select>
                </td>
                <td><button @click="toggleFieldModal(undefined, boardAdd.fields)" :disabled="boardAdd.type == 'basic-board' || boardAdd.type == ''">{{ $t("elem.open") }}</button></td>
                <td>
                    <button @click="addData()">{{ $t("elem.add") }}</button>
                    <button @click="clearBoardAddData()">{{ $t("elem.clear") }}</button>
                </td>
            </tr>
            <template v-for="(b, i) in boards">
                <!-- View mode -->
                <tr v-if="b.idx !== boardEdit.idx">
                    <td>{{b.idx}}</td>
                    <td @click="location.href='/board?code='+b.code" class="link">{{b.name}}</td>
                    <td>{{b.code}}</td>
                    <td>{{b.type}}</td>
                    <td>{{b.table}}</td>
                    <td>{{b['grant-read']}}</td>
                    <td>{{b['grant-write']}}</td>
                    <td>{{(b['grant-comment'] == null) ? "Not use" : b['grant-comment']}}</td>
                    <td>{{(b['file-upload'] == "Y") ? "Use" : "Not Use"}}</td>
                    <td><button @click="copyToAddBoard(b)">{{ $t("elem.copytoadd") }}</button></td>
                    <td>
                        <button @click="boardEdit=Object.assign({}, b)">Edit</button>
                        <button @click.stop="deleteData(b.idx)">Delete</button>
                    </td>
                </tr>
                <!-- Edit mode -->
                <tr @keyup.enter="updateData()" v-else>
                    <td>{{b.idx}}</td>
                    <td><input v-model="boardEdit.name" /></td>
                    <td><input v-model="boardEdit.code" /></td>
                    <td>
                        <select v-model="boardEdit.type" disabled>
                            <option value="basic-board">Basic board</option>
                            <option value="custom-board">Custom board</option>
                            <option value="custom-tablelist">Custom table list</option>
                        </select>
                    </td>
                    <td><input v-model="boardEdit.table" v-uppercase /></td>
                    <td>
                        <select v-model="boardEdit['grant-read']">
                            <option value="all">All allowed</option>
                            <option value="user">User</option>
                            <option value="admin">Admin</option>
                        </select>
                    </td>
                    <td>
                        <select v-model="boardEdit['grant-write']">
                            <option value="all">All allowed</option>
                            <option value="user">User</option>
                            <option value="admin">Admin</option>
                        </select>
                    </td>
                    <td>
                        <select v-model="boardEdit['grant-comment']">
                            <option value="all">All allowed</option>
                            <option value="user">User</option>
                            <option value="admin">Admin</option>
                        </select>
                    </td>
                    <td>
                        <select v-model="boardEdit['file-upload']">
                            <option value="N">Not use</option>
                            <option value="Y">Use</option>
                        </select>
                    </td>
                    <td><button @click="toggleFieldModal(i, boardEdit)" :disabled="boardEdit.type == 'basic-board'">{{ $t("elem.open") }}</button></td>
                    <td>
                        <button @click="boardEdit={}">{{ $t("elem.cancel") }}</button>
                        <button @click="updateData()">{{ $t("elem.save") }}</button>
                    </td>
                </tr>
            </template>
        </tbody>
    </table>

    <hr />

    <template v-for="i in page.total">
        <template v-if="i == page.current">
            &nbsp;<span><b>{{i}}</b></span>&nbsp;
        </template>
        <template v-else>
            &nbsp;<a href="javascript:" @click="movePage(i)">{{i}}</a>&nbsp;
        </template>
    </template>

    <!-- Field Modal -->
    <div v-if="fieldModalOpen" class="modal-mask"></div>
    <div v-if="fieldModalOpen" class="modal">
        <button @click="toggleFieldModal(boardEdit.idx, boardEdit)">Close</button>
        <article v-if="!(boardEdit.idx > -1)">
            IDX will be created automatically
        </article>
        <table>
            <tr>
                <th></th>
                <th>Idx</th>
                <th>Name</th>
                <th>Column</th>
                <th>JSON</th>
                <th>Type</th>
                <th>Order</th>
                <th></th>
            </tr>
            <tr>
                <td>New field:</td>
                <td>{{nextFieldIdx}}</td>
                <td><input v-model="fieldAdd.name" /></td>
                <td><input v-model="fieldAdd.column" v-uppercase /></td>
                <td><input v-model="fieldAdd.json" /></td>
                <td>
                    <select v-model="fieldAdd.type">
                        <template v-if="isCustomBoard">
                            <option value="title">Title</option>
                            <option value="author">Author</option>
                            <option value="editor">Editor</option>
                            <option value="comment">Comment</option>
                            <option value="input">Input Field</option>
                        </template>
                        <template v-else>
                            <option value="text">Text</option>
                            <option value="number">Number</option>
                            <option value="real">Real</option>
                        </template>
                    </select>
                </td>
                <!-- <td><input v-model="fieldAdd.fields" /></td> -->
                <td>{{nextFieldOrder}}</td>
                <td><button @click="addField()">Add field</button></td>
            </tr>
            <tr v-for="(f, k) in defaultFields">
                <td>{{f.desc}}</td>
                <td>{{f.idx}}</td>
                <td>{{f.name}}</td>
                <td>{{f.column}}</td>
                <td>{{f.json}}</td>
                <td>{{f.type}}</td>
                <td>{{f.order}}</td>
                <td></td>
            </tr>

            <tr v-for="(f, k) in modalFields">
                <template v-if="k !== fieldEditIDX">
                    <td></td>
                    <td>{{f.idx}}</td>
                    <td>{{f.name}}</td>
                    <td>{{f.column}}</td>
                    <td>{{f.json}}</td>
                    <td>{{f.type}}</td>
                    <td>{{f.order}}</td>
                    <td>
                        <button @click="fieldOrig=Object.assign({}, f);fieldEditIDX=k">Edit</button>
                        <button @click="deleteField(k)">Delete</button>
                        <button @click="moveUpField(k)">↑</button>
                        <button @click="moveDownField(k)">↓</button>
                    </td>
                </template>
                <template v-else>
                    <td></td>
                    <td>{{f.idx}}</td>
                    <td><input v-model="f.name" /></td>
                    <td><input v-model="f.column" v-uppercase /></td>
                    <td><input v-model="f.json" /></td>
                    <td>{{f.type}}</td>
                    <td>{{f.order}}</td>
                    <td>
                        <button @click="cancelFieldModalEdit(k)">Cancel</button>
                        <button @click="fieldEditIDX = -1">Save</button>
                    </td>
                </template>
            </tr>
        </table>
    </div>
</div>
</body>

<script>
    const messages = {
        en: {
            table: {
                order: "Order",
                boardname: "Board Name",
                boardcode: "Board Code",
                boardtype: "Board Type",
                tablename: "Table Name",
                fields: "Fields",
                copy: "Copy",
            },
            elem: {
                addboard: "Add board",
                search: "Search",
                find: "Find",
                add: "Add",
                edit: "Edit",
                delete: "Delete",
                cancel: "Cancel",
                save: "Save",
                open: "Open",
                copytoadd: "Copy to add board",
                clear: "Clear",
            },
            modal: {
                close: "Close",
            }
        },
        ko: {
            table: {
                order: "순번",
                boardname: "게시판 이름",
                boardcode: "게시판 코드",
                boardtype: "게시판 유형",
                tablename: "테이블 이름",
                fields: "필드",
                copy: "복사",
            },
            elem: {
                addboard: "게시판 추가",
                search: "검색",
                find: "찾기",
                add: "추가",
                edit: "수정",
                delete: "삭제",
                cancel: "취소",
                save: "저장",
                open: "열기",
                copytoadd: "게시판 추가에 복사",
                clear: "비우기",
            },
            modal: {
                close: "닫기",
            }
        }
    }

    const i18n = new VueI18n({
        locale: 'en',
        messages,
    })

    Vue.prototype.location = window.location
    const vm = new Vue({
        i18n,
        el: "#app",
        data: {
            // restURI: "http://localhost:2918",
            // restURI: window.location.protocol + "//" + window.location.host + window.location.pathname + "api/admin",
            restURIdomain: window.location.protocol + "//" + window.location.host,
            restURI: window.location.protocol + "//" + window.location.host + "/api/admin",
            defaultFields: [
                { desc: "Cannot edit", idx: "-", name: "Idx", column: "IDX", json: "idx", type: "number", order: 1 },
                { desc: "Cannot edit", idx: "-", name: "Is member", column: "IS_MEMBER", json: "is-member", type: "text", order: 2 },
                { desc: "Cannot edit", idx: "-", name: "Writer idx", column: "WRITER_IDX", json: "writer-idx", type: "text", order: 3 },
                { desc: "Cannot edit", idx: "-", name: "Writer name", column: "WRITER_NAME", json: "writer-name", type: "text", order: 4 },
                { desc: "Cannot edit", idx: "-", name: "Writer password", column: "WRITER_PASSWORD", json: "writer-password", type: "text", order: 5 },
                { desc: "Cannot edit", idx: "-", name: "Files", column: "FILES", json: "files", type: "text", order: 6 },
                { desc: "Cannot edit", idx: "-", name: "Reg date", column: "REG_DTTM", json: "reg-dttm", type: "text", order: 7 },
            ],
            page: {
                current: 1,
                total: 1,
                countPerPage: 20,
                order: "desc",
            },
            boards: [],
            searchKeyword: "",
            fieldModalOpen: false,
            boardAdd: { idx: -1, name: "", code: "", type: "", table: "", fields: [] },
            boardEdit: {},
            modalFields: [],
            fieldAdd: {},
            // fieldAdd: { name: "", json: "", type: "", order: -1, },
            fieldEditIDX: -1,
            fieldOrig: {},
        },
        mounted() {
            // Parameter test
            // let link = document.location.href
            // let uri = new URL(String(link))
            // let params = new URLSearchParams(uri.search.slice(1))
            // let search = document.location.search
            // console.log(link, search, uri.searchParams.get("idx"))
            // console.log(uri.searchParams.getAll("idx"))
            // params.forEach((v, k) => {
            //     console.log("Iter: ", k, v)
            // })
            // for (let v of params.entries()) {
            //     console.log("entries: ", v[0], v[1])
            // }

            this.initData()
        },
        directives: {
            uppercase: {
                update: function (el) {
                    el.value = el.value.toUpperCase()
                    el.dispatchEvent(new Event('input'))
                }
            }
        },
        computed: {
            nextFieldOrder() {
                if (this.modalFields.length > 0) {
                    let fields = this.modalFields.slice()
                    fields.sort((a, b) => (a.order > b.order) ? 1 : ((b.order > a.order) ? -1 : 0))

                    return fields[fields.length - 1].order + 1
                }

                return 8
            },
            nextFieldIdx() {
                if (this.modalFields.length > 0) {
                    let fields = this.modalFields.slice()
                    fields.sort((a, b) => (a.idx > b.idx) ? 1 : ((b.idx > a.idx) ? -1 : 0))

                    return fields[fields.length - 1].idx + 1
                }

                return 1
            },
            isCustomBoard() {
                return (
                    ((this.boardEdit.idx > -1 || this.fieldEditIDX > -1) && this.boardEdit.type == 'custom-board')
                    || (this.fieldEditIDX == -1 && this.boardAdd.type == 'custom-board')
                )
            }
        },
        methods: {
            setLocale(lang) { i18n.locale = lang },
            async initData() {
                const logedIN = await this.checkLogedIn()
                if (logedIN) {
                    await this.getData()
                }
            },
            async checkLogedIn() {
                let result = false
                let reissue = false
                let response = ""
                let r = ""

                let token = localStorage.getItem('token')

                if (token != null) {
                    response = await fetch(this.restURIdomain + "/api/user/token/verify", {
                        method: "POST",
                        headers: { "Authorization": "Bearer " + token }
                    })
                    r = await response.json()
                    if (response.ok) {
                        if (r.msg == "OK") { result = true }
                    } else if (r.expired) {
                        reissue = true
                    }

                    if (!result && reissue) {
                        response = await fetch(this.restURIdomain + "/api/user/token", {
                            method: "GET",
                            headers: { "Authorization": "Bearer " + token }
                        })

                        if (response.ok) {
                            r = await response.json()
                            localStorage.setItem("token", r.token)
                            token = r.token
                            result = true
                        } else {
                            localStorage.removeItem("token")
                            result = false
                        }
                    }
                }

                if (!result) {
                    swal.fire("Authorization failed", "Token is not exist or invalid", "error").then(() => {
                        location.href = "/users/login"
                    })
                } else {
                    this.token = token
                }

                return result
            },
            async getTotalPage() {
                let keywords = []
                if (this.searchKeyword != "") {
                    keywords.push(
                        { "name": this.searchKeyword },
                        { "author": this.searchKeyword },
                    )
                }

                let headers = {
                    "Accept": "application/json",
                    "Content-Type": "application/json",
                }

                if (this.token != undefined && this.token != null) {
                    Object.assign(headers, { "Authorization": "Bearer " + this.token })
                }

                let response = await fetch(this.restURI + "/total-page", {
                    method: "POST",
                    headers: headers,
                    body: JSON.stringify({
                        "keywords": keywords,
                        "options": {
                            "count": this.page.countPerPage
                        }
                    })
                })
                if (response.ok) {
                    r = await response.json()
                    this.page.total = r["total-page"]
                }
            },
            async getData() {
                this.boardEdit = {}

                this.getTotalPage()

                let keywords = []
                if (this.searchKeyword != "") {
                    keywords.push(
                        { "name": this.searchKeyword },
                        { "code": this.searchKeyword },
                        { "type": this.searchKeyword },
                        { "table": this.searchKeyword },
                    )
                }

                let headers = {
                    "Accept": "application/json",
                    "Content-Type": "application/json",
                }

                if (this.token != undefined && this.token != null) {
                    Object.assign(headers, { "Authorization": "Bearer " + this.token })
                }

                let response = await fetch(this.restURI + "/boards", {
                    method: "POST",
                    headers: headers,
                    body: JSON.stringify({
                        "keywords": keywords,
                        "options": {
                            "page": this.page.current - 1,
                            "count": this.page.countPerPage,
                            "order": this.page.order,
                        }
                    })
                })
                if (response.ok) {
                    this.boards = await response.json()
                }
            },
            async addData() {
                for (let i in this.boards) {
                    if (this.boardAdd.table == this.boards[i].table) {
                        swal.fire("Table name", "Already exists same table name", "warning")
                        return false
                    }
                    if (this.boardAdd.code == this.boards[i].code) {
                        swal.fire("Table code", "Already exists same table code", "warning")
                        return false
                    }
                }

                // this.boardEdit = this.boardAdd

                if (Object.keys(this.boardAdd).length < 10) {
                    swal.fire("Empty", "Fill all.", "warning")
                    return false
                }

                for (let k in this.boardAdd) {
                    // console.log(k, this.boardAdd[k])
                    if ((k != "idx" && k != "fields") && (this.boardAdd[k] == 0 || this.boardAdd[k].trim() == "" || !this.boardAdd[k])) {
                        swal.fire("Empty", "Fill all.", "warning")
                        return false
                    }
                }

                if (this.boardAdd.type == "basic-board") {
                    this.boardAdd.fields = []
                }

                let headers = {
                    "Accept": "application/json",
                    "Content-Type": "application/json",
                }

                if (this.token != undefined && this.token != null) {
                    Object.assign(headers, { "Authorization": "Bearer " + this.token })
                }

                let response = await fetch(this.restURI + "/boards", {
                    method: "PUT",
                    headers: headers,
                    body: JSON.stringify([
                        {
                            "name": this.boardAdd.name,
                            "code": this.boardAdd.code,
                            "type": this.boardAdd.type,
                            "table": this.boardAdd.table,
                            "grant-read": this.boardAdd["grant-read"],
                            "grant-write": this.boardAdd["grant-write"],
                            "file-upload": this.boardAdd["file-upload"],
                            "fields": this.boardAdd.fields,
                        },
                    ])
                })

                if (response.ok) {
                    this.getData()
                    // this.boardEdit = { idx: "", name: "", author: "", price: null, isbn: null }
                    // this.boardEdit = undefined
                    this.boardEdit = {}
                    this.boardAdd = { idx: -1, name: "", code: "", type: "", table: "", fields: [] }
                    swal.fire("Success", "Updated successfully", "success")
                    return false
                }

                const status = response.status + " " + response.statusText
                const msg = await response.text()
                swal.fire(status, msg, "error")
            },
            clearBoardAddData() {
                this.boardAdd = { idx: -1, name: "", code: "", type: "", table: "", fields: [] }
            },
            async updateData() {
                // console.log(this.boardEdit)

                for (let k in this.boardEdit) {
                    if ((k != "idx") && (!this.boardEdit[k] == 0 && !this.boardEdit[k])) {
                        swal.fire("Empty", "Fill all.", "warning")
                        return false
                    }
                    // console.log(this.boardEdit[k] != parseFloat(this.boardEdit[k]), this.boardEdit[k], parseFloat(this.boardEdit[k]))
                    // if ((k.match(/price|isbn/)) && (this.boardEdit[k] != parseFloat(this.boardEdit[k]))) {
                    //     swal.fire("Number", "Price, ISBN have to be Number.", "warning")
                    //     return false
                    // }
                }

                let headers = {
                    "Accept": "application/json",
                    "Content-Type": "application/json",
                }

                if (this.token != undefined && this.token != null) {
                    Object.assign(headers, { "Authorization": "Bearer " + this.token })
                }

                let response = await fetch(this.restURI + "/board", {
                    method: "PATCH",
                    headers: headers,
                    body: JSON.stringify(this.boardEdit)
                })

                if (response.ok) {
                    this.getData()
                    swal.fire("Success", "Updated successfully", "success")
                    r = await response.json()
                    // console.log(r)
                    return false
                }

                const status = response.status + " " + response.statusText
                const msg = await response.text()
                swal.fire(status, msg, "error")
                // console.log(msg)
            },
            async deleteData(idx) {
                const confirm = await swal.fire({
                    title: "Confirm",
                    text: "Are you sure?",
                    icon: "warning",
                    showCancelButton: true,
                    confirmButtonText: "Delete",
                    cancelButtonText: "Cancel"
                })

                if (!confirm.isConfirmed) {
                    return false
                }

                let headers = {
                    "Accept": "application/json",
                    "Content-Type": "application/json",
                }

                if (this.token != undefined && this.token != null) {
                    Object.assign(headers, { "Authorization": "Bearer " + this.token })
                }

                let response = await fetch(this.restURI + "/board/" + idx, {
                    method: "DELETE",
                    headers: headers,
                })
                if (response.ok) {
                    swal.fire("Done", "Done to delete", "success")
                    this.getData()
                }
            },
            addField() {
                switch (true) {
                    case (this.fieldAdd.name == undefined || this.fieldAdd.json == undefined):
                        swal.fire("Empty", "Fill name and json", "warning")
                        break
                    case (this.fieldAdd.type == undefined):
                        swal.fire("Empty", "Choose type", "warning")
                        break
                    default:
                        this.fieldAdd.order = 2
                        this.fieldAdd.idx = 1
                        if (this.modalFields.length > 0) {
                            this.fieldAdd.order = this.modalFields.length + 2

                            let fields = this.modalFields
                            fields.sort((first, second) => (first.idx > second.idx) ? 1 : ((second.idx > first.idx) ? -1 : 0))
                            this.fieldAdd.idx = fields[fields.length - 1].idx + 1
                            if (this.fieldAdd.length > 0) {
                                this.fieldAdd.sort((first, second) => (first.order > second.order) ? 1 : ((second.order > first.order) ? -1 : 0))
                            }
                        }

                        this.modalFields.push(Object.assign({}, this.fieldAdd))
                        // Vue.set(this.boardEdit.fields, this.boardEdit.fields, this.boardEdit.fields)
                        this.fieldAdd = {}
                        break
                }
            },
            async deleteField(idx) {
                const confirm = await swal.fire({
                    title: "Confirm",
                    text: "Are you sure?",
                    icon: "warning",
                    showCancelButton: true,
                    confirmButtonText: "Delete",
                    cancelButtonText: "Cancel"
                })

                if (!confirm.isConfirmed) {
                    return false
                }

                this.modalFields.splice(idx, 1)
                for (let i = 0; i < this.modalFields.length; i++) {
                    this.modalFields[i].order = i + 2
                }
            },
            moveUpField(idx) {
                if (idx > 0) {
                    this.modalFields[idx].order -= 1
                    this.modalFields[idx - 1].order += 1
                    this.modalFields.sort((a, b) => (a.order > b.order) ? 1 : ((b.order > a.order) ? -1 : 0))
                }
            },
            moveDownField(idx) {
                if (idx < this.modalFields.length - 1) {
                    this.modalFields[idx].order += 1
                    this.modalFields[idx + 1].order -= 1
                    this.modalFields.sort((a, b) => (a.order > b.order) ? 1 : ((b.order > a.order) ? -1 : 0))
                }
            },
            toggleFieldModal(i, brd) {
                this.fieldEditIDX = -1
                this.fieldModalOpen = !this.fieldModalOpen

                switch (true) {
                    case (this.fieldModalOpen && i == undefined):
                        // New board
                        this.modalFields = this.boardAdd.fields
                        this.modalFields = this.modalFields.concat()
                        break
                    case (this.fieldModalOpen):
                        // Edit board
                        this.boardEdit = Object.assign({}, this.boards[i])
                        this.modalFields = this.boards[i].fields
                        this.modalFields = this.modalFields.concat()

                        this.fieldEditIDX = this.boards[i].idx
                        if (this.modalFields != null) {
                            this.modalFields.sort((first, second) => (first.order > second.order) ? 1 : ((second.order > first.order) ? -1 : 0))
                        }
                        break
                    case (!this.fieldModalOpen):
                        // Close
                        if (i == undefined) {
                            this.boardAdd.fields = this.modalFields
                            this.boardAdd.fields = this.boardAdd.fields.concat()
                        } else {
                            this.boardEdit.fields = this.modalFields
                            this.boardEdit.fields = this.boardEdit.fields.concat()
                        }
                        this.modalFields = []
                        this.fieldAdd = {}
                        break
                }
            },
            cancelFieldModalEdit(idx) {
                if (this.boardEdit.fields != undefined) {
                    this.boardEdit.fields[idx] = Object.assign({}, fieldOrig)
                }
                this.fieldOrig = {}
                this.fieldEditIDX = -1
            },
            copyToAddBoard(b) {
                this.boardAdd = Object.assign({}, b)
                delete this.boardAdd.idx
            },
            movePage(page) {
                // page 1 = idx 0
                this.page.current = page
                this.getData()

                return false
            },
            changeOrder() {
                if (this.page.order == "asc") {
                    this.page.order = "desc"
                } else if (this.page.order == "desc") {
                    this.page.order = "asc"
                }
                this.getData()
            },
            search() {
                this.page.current = 1
                this.getData()
            }
        }
    })
</script>

<style>
    * {
        font-size: 0.95em;
    }

    body {
        margin: 0;
        padding: 0.5em;
        max-width: 100%;
    }

    #app {
        width: 100%;
    }

    table {
        table-layout: fixed;
        text-align: unset;
    }

    td {
        text-align: center;
    }

    td.link {
        cursor: pointer;
    }

    td.link:hover {
        text-decoration: underline;
    }

    tbody>tr:hover {
        background: #FFD3D3;
    }

    .modal-mask {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: black;
        z-index: 200;
        opacity: 0.7;
    }

    .modal {
        position: absolute;
        top: 10%;
        left: 10%;
        width: 80%;
        /* max-width: 1300px; */
        height: 80%;
        background-color: snow;
        z-index: 210;
        overflow: auto;
    }
</style>