<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" href="data:;base64,iVBORw0KGgo=">

    <!-- <script src="https://cdn.jsdelivr.net/npm/vue@2.6.0"></script> -->
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.0.17/dist/sweetalert2.all.min.js"></script>

    <link rel="stylesheet" href="/assets/css/sakura.css" type="text/css">
    <link rel="stylesheet" href="/assets/css/normalize.css" type="text/css">
</head>

<body>
    <div id="app" v-show="isShow">
        <h1>{{table}}</h1>
        <a href="/">Front</a>
        <input v-model="searchKeyword" @keyup.enter="search()" placeholder="Search" />&nbsp;<button @click="search()">🍳</button>
        <table>
            <thead>
                <tr>
                    <th>Number</th>
                    <th>Title</th>
                    <th>Writer</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                <tr v-for="d, i in contents">
                    <td>{{d.idx}}</td>
                    <td class="content-title" @click="location.href=restURI+'/board?code='+boardCode+'&mode=read&id='+d.idx">{{d.title}}</td>
                    <td>{{d["writer-name"]}}</td>
                    <td><button @click="deleteData(d.idx)">Delete</button></td>
                </tr>
            </tbody>
        </table>

        <hr />

        <template v-for="i in page.total">
            <template v-if="i == page.current">
                &nbsp;<span><b>{{i}}</b></span>&nbsp;
            </template>
            <template v-else>
                &nbsp;<a href="javascript:" @click="movePage(i)">{{i}}</a>&nbsp;
            </template>
        </template>

        <br />

        <button @click="location.href='/board?code='+boardCode+'&mode=write'">Write</button>
    </div>
</body>

<script>
    function showError(status) {
        switch (status) {
            case 401:
                swal.fire("Unauthorized", "need login", "error").then(() => {
                    localStorage.removeItem("token")
                    location.href = "/users/login"
                })
                break
            case 403:
                swal.fire("Forbidden", "You don't have permission to access", "error").then(() => {
                    location.href = "/"
                })
                break
            default:
                swal.fire("Error occured", "", "error")
                break
        }

        return false
    }

    Vue.prototype.location = window.location
    const vm = new Vue({
        el: "#app",
        data: {
            // restURI: "http://localhost:2918",
            restURIdomain: window.location.protocol + "//" + window.location.host,
            restURI: window.location.protocol + "//" + window.location.host,
            isShow: false,
            page: {
                current: 1,
                total: 1,
                countPerPage: 5,
                order: "desc",
            },
            table: "'##__TABLE_NAME__##'",
            boardCode: "'##__BOARD_CODE__##'",
            contents: [],
            searchKeyword: "",
        },
        mounted() {
            // const uri = new URL(String(document.location.href))
            // this.code = String(uri.searchParams.get("code"))

            this.initData()
        },
        methods: {
            async initData() {
                await this.checkLogedIn()
                await this.getData()
            },
            async checkLogedIn() {
                let result = false
                let reissue = false
                let response = ""
                let r = ""

                const token = localStorage.getItem('token')

                if (token != null) {
                    response = await fetch(this.restURIdomain + "/api/user/token/verify", {
                        method: "POST",
                        headers: { "Authorization": "Bearer " + token }
                    })
                    if (response.ok) {
                        r = await response.json()
                        if (r.msg == "OK") { result = true }
                    } else {
                        if (response.status != 200) {
                            r = await response.json()
                            if (r.msg == "Token is expired") { reissue = true }
                        }
                    }

                    if (!result && reissue) {
                        response = await fetch(this.restURIdomain + "/api/user/token/verify", {
                            method: "GET",
                            headers: { "Authorization": "Bearer " + token }
                        })

                        if (response.ok) {
                            r = await response.json()
                            localStorage.setItem("token", r.token)
                            result = true
                        } else {
                            localStorage.removeItem("token")
                            result = false
                        }
                    }
                }

                // if (!result) {
                //     swal.fire("Authorization failed", "Token is not exist or invalid", "error")
                //     location.href = "/users/login"
                // }
            },
            async getTotalPage() {
                let keywords = []
                if (this.searchKeyword != "") {
                    keywords.push(
                        { title: this.searchKeyword },
                        { content: this.searchKeyword },
                        { "writer-name": this.searchKeyword }
                    )
                }

                let headers = {
                    "Accept": "application/json",
                    "Content-Type": "application/json",
                }

                const token = localStorage.getItem('token')

                if (token != undefined && token != null) {
                    Object.assign(headers, { "Authorization": "Bearer " + token })
                }

                let response = await fetch(this.restURI + "/api/basic-board/total-page?code=" + this.boardCode, {
                    method: "POST",
                    headers: headers,
                    body: JSON.stringify({
                        keywords: keywords,
                        options: {
                            count: this.page.countPerPage
                        },
                        table: this.table
                    })
                })
                if (response.ok) {
                    r = await response.json()
                    this.page.total = r["total-page"]

                    return false
                }

                showError(response.status)
                return false
            },
            async getData() {
                this.getTotalPage()

                let keywords = []
                if (this.searchKeyword != "") {
                    keywords.push(
                        { title: this.searchKeyword },
                        { content: this.searchKeyword },
                        { "writer-name": this.searchKeyword }
                    )
                }

                let headers = {
                    "Accept": "application/json",
                    "Content-Type": "application/json",
                }

                const token = localStorage.getItem('token')

                if (token != undefined && token != null) {
                    Object.assign(headers, { "Authorization": "Bearer " + token })
                }

                let response = await fetch(this.restURI + "/api/basic-board/contents?code=" + this.boardCode, {
                    method: "POST",
                    headers: headers,
                    body: JSON.stringify({
                        keywords: keywords,
                        options: {
                            page: this.page.current - 1,
                            count: this.page.countPerPage,
                            order: this.page.order,
                        },
                        table: this.table
                    })
                })

                if (response.ok) {
                    this.contents = await response.json()
                    this.isShow = true
                    return false
                }

                showError(response.status)
                return false
            },
            async deleteData(idx) {
                const confirm = await swal.fire({
                    title: "Confirm",
                    text: "Are you sure?",
                    icon: "warning",
                    showCancelButton: true,
                    confirmButtonText: "Delete",
                    cancelButtonText: "Cancel"
                })

                if (!confirm.isConfirmed) {
                    return false
                }

                let headers = {
                    "Accept": "application/json",
                    "Content-Type": "application/json",
                }

                const token = localStorage.getItem('token')

                if (token != undefined && token != null) {
                    Object.assign(headers, { "Authorization": "Bearer " + token })
                }

                let response = await fetch(this.restURI + "/api/basic-board/contents?code=" + this.boardCode, {
                    method: "DELETE",
                    headers: headers,
                    body: JSON.stringify({
                        data: {
                            idx: idx
                        },
                        table: this.table
                    })
                })

                if (response.ok) {
                    swal.fire("Success", "Deleted successfully", "success")
                    this.getData()
                    return false
                }

                showError(response.status)
                return false
            },
            movePage(page) {
                // page 1 = idx 0
                this.page.current = page
                this.getData()

                return false
            },
            search() {
                this.page.current = 1
                this.getData()
            }
        }
    })
</script>

<style>
    body {
        margin: 0;
        padding: 0.5em;
        max-width: 100%;
    }

    #app {
        width: 100%;
    }

    .content-title {
        cursor: pointer;
    }

    .content-title:hover {
        text-decoration: underline;
    }
</style>

</html>