<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" href="data:;base64,iVBORw0KGgo=">

    <!-- <script src="https://cdn.jsdelivr.net/npm/vue@2.6.0"></script> -->
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.0.17/dist/sweetalert2.all.min.js"></script>

    <link rel="stylesheet" href="/assets/css/sakura.css" type="text/css">
    <link rel="stylesheet" href="/assets/css/normalize.css" type="text/css">

    <script src="https://cdnjs.cloudflare.com/ajax/libs/tinymce/5.8.1/tinymce.min.js"></script>
</head>

<body>
    <div id="app">
        <h1>{{table}}</h1>
        <tr>
            <td><input v-model="contents['writer-name']" placeholder="name" /></td>
            <td><input v-model="contents['writer-password']" placeholder="password" /></td>
        </tr>
        <table>
            <tr>
                <td><input v-model="contents.title" placeholder="Title" /></td>
            </tr>
            <tr>
                <td>
                    <!-- <textarea id="editor" v-model="contents.content"></textarea> -->
                    <textarea id="editor" v-model="contents.content" class="editors"></textarea>
                </td>
            </tr>
        </table>

        <button onclick="history.back()">Cancel</button>
        <button @click="writePost()">Write</button>
    </div>
</body>

<script>
    tinymce.init({
        selector: "textarea.editors",
        mode: "textareas",
        theme: "silver",
        height: "480",
        force_p_newlines: false,
        force_br_newlines: true,
        // forced_root_block: false,
        forced_root_block: '',
        convert_newlines_to_brs: false,
        remove_linebreaks: true,
        // branding: false
    })
    Vue.prototype.location = window.location
    const vm = new Vue({
        el: "#app",
        data: {
            restURIdomain: window.location.protocol + "//" + window.location.host,
            restURI: window.location.protocol + "//" + window.location.host,
            table: "'##__TABLE_NAME__##'",
            boardCode: "'##__BOARD_CODE__##'",
            mode: "",
            id: "",
            contents: {
                title: "",
                content: "",
                "writer-idx": "-1",
                "writer-name": "",
                "writer-password": ""
            }
        },
        mounted() {
            const uri = new URL(String(document.location.href))
            this.mode = String(uri.searchParams.get("mode"))
            this.id = String(uri.searchParams.get("id"))

            this.initData()
        },
        methods: {
            async initData() {
                await this.checkLogedIn()
                if (this.mode == "edit" && this.id != null) {
                    await this.getData()
                }
            },
            async checkLogedIn() {
                let result = false
                let reissue = false
                let response = ""
                let r = ""

                const token = localStorage.getItem('token')

                if (token != null) {
                    response = await fetch(this.restURIdomain + "/api/user/token/verify", {
                        method: "POST",
                        headers: { "Authorization": "Bearer " + token }
                    })
                    if (response.ok) {
                        r = await response.json()
                        if (r.msg == "OK") { result = true }
                    } else {
                        if (response.status != 200) {
                            r = await response.json()
                            if (r.msg == "Token is expired") { reissue = true }
                        }
                    }

                    if (!result && reissue) {
                        response = await fetch(this.restURIdomain + "/api/user/token/verify", {
                            method: "GET",
                            headers: { "Authorization": "Bearer " + token }
                        })

                        if (response.ok) {
                            r = await response.json()
                            localStorage.setItem("token", r.token)
                            result = true
                        } else {
                            localStorage.removeItem("token")
                            result = false
                        }
                    }
                }

                // if (!result) {
                //     swal.fire("Authorization failed", "Token is not exist or invalid", "error")
                //     location.href = "/users/login"
                // }
            },
            async getData() {
                const keywords = [{ idx: this.id }]

                let headers = {
                    "Accept": "application/json",
                    "Content-Type": "application/json",
                }

                if (this.token != undefined && this.token != null) {
                    Object.assign(headers, { "Authorization": "Bearer " + this.token })
                }

                let response = await fetch(this.restURI + "/api/basic-board/contents", {
                    method: "POST",
                    headers: headers,
                    body: JSON.stringify({
                        keywords: keywords,
                        options: { count: 1 },
                        table: this.table
                    })
                })

                if (response.ok) {
                    this.contents = (await response.json())[0]
                }
            },
            async writePost() {
                let requestMethod = "PUT"
                this.contents.content = await tinymce.activeEditor.getContent()

                if (this.mode == "edit" && this.id != null) {
                    requestMethod = "PATCH"
                    this.contents.idx = this.id
                }

                let headers = {
                    "Accept": "application/json",
                    "Content-Type": "application/json",
                }

                if (this.token != undefined && this.token != null) {
                    Object.assign(headers, { "Authorization": "Bearer " + this.token })
                }

                let response = await fetch(this.restURI + "/api/basic-board/contents", {
                    method: requestMethod,
                    headers: headers,
                    body: JSON.stringify({
                        data: this.contents,
                        table: this.table
                    })
                })

                if (response.ok) {
                    const result = await response.json()
                    location.href = this.restURI + "/board?code=" + this.boardCode + "&mode=read&id=" + result["last-id"]
                }
            }
        }
    })
</script>

<style>
    body {
        margin: 0;
        padding: 0.5em;
        max-width: 100%;
    }

    #app {
        width: 100%;
    }
</style>

</html>