<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" href="data:;base64,iVBORw0KGgo=">

    <!-- <script src="https://cdn.jsdelivr.net/npm/vue@2.6.0"></script> -->
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.0.17/dist/sweetalert2.all.min.js"></script>

    <link rel="stylesheet" href="/assets/css/sakura.css" type="text/css">
    <link rel="stylesheet" href="/assets/css/normalize.css" type="text/css">

    <script src="https://cdnjs.cloudflare.com/ajax/libs/tinymce/5.8.1/tinymce.min.js"></script>
</head>

<body>
    <div id="app" v-show="isShow">
        <h1>{{table}}</h1>
        <h2>{{contents.title}}</h2>
        <table>
            <tr>
                <td>{{contents['writer-name']}}</td>
            </tr>
        </table>
        <table>
            <tr>
                <td v-html="contents.content"></td>
            </tr>
        </table>
        <div v-if="useFileUpload" v-for="o, i in files">
            <a :href="uriFiles+'/'+o['tmp_name']" target="_blank">{{o.name}}</a><br />
        </div>

        <button @click="enterEdit()">Edit</button>
        <button @click="location.href='/board?code='+boardCode">List</button>
        <hr />

        <div v-for="c, i in comments">
            {{c["writer-name"]}}:
            <template v-if="showCommentButtons(c)">
                <button @click="deleteComment(c)">Delete</button>
            </template>
            <div v-html="c.content"></div>
        </div>

        <div v-if="commentPermission">
            <template v-if="!commentAdd.isMember">
                <input v-model="commentAdd['writer-name']" placeholder="name" />
                <input v-model="commentAdd['writer-password']" type="password" placeholder="password" />
            </template>
            <template v-else>
                {{commentAdd['writer-name']}}
            </template>
            <br />
            <textarea id="editor" v-model="commentAdd.comment" class="editors"></textarea>
            <br />
            <button @click="writeComment()">Write comment</button>
        </div>
    </div>
</body>

<script>
    function showError(status, isStay) {
        switch (status) {
            case 401:
                swal.fire("Unauthorized", "need login", "error").then(() => {
                    localStorage.removeItem("token")
                    location.href = "/users/login"
                })
                break
            case 403:
                swal.fire("Forbidden", "You don't have permission to access", "error").then(() => {
                    if (!isStay) {
                        location.href = "/"
                    }
                })
                break
            default:
                swal.fire("Error occured", "", "error")
                break
        }

        return false
    }

    function initTinyMCE() {
        tinymce.init({
            selector: "textarea.editors",
            mode: "textareas",
            theme: "silver",
            height: "240",
            force_p_newlines: false,
            force_br_newlines: true,
            // forced_root_block: false,
            forced_root_block: '',
            convert_newlines_to_brs: false,
            remove_linebreaks: true,
            // branding: false
        })
    }

    Vue.prototype.location = window.location
    const vm = new Vue({
        el: "#app",
        data: {
            restURIdomain: window.location.protocol + "//" + window.location.host,
            restURI: window.location.protocol + "//" + window.location.host,
            isShow: false,
            table: "'##__TABLE_NAME__##'",
            boardCode: "'##__BOARD_CODE__##'",
            id: "",
            contents: {
                title: "",
                content: "",
                "writer-name": ""
            },
            useFileUpload: false,
            uriFiles: "/data",
            uploadHeaderJSON: {
                "Accept": "application/json",
                "Content-Type": "application/json",
            },
            files: {},
            commentPermission: false,
            comments: [],
            commentAdd: {
                bidx: "",
                content: "",
                isMember: false,
                "writer-name": "",
                "writer-password": "",
            }
        },
        mounted() {
            const uri = new URL(String(document.location.href))
            this.id = String(uri.searchParams.get("id"))
            this.mode = String(uri.searchParams.get("mode"))

            this.initData()
        },
        methods: {
            async initData() {
                await this.checkLogedIn()
                await this.checkPermission()
                await this.getData()
                await this.getComments()

                initTinyMCE()
            },
            async checkLogedIn() {
                let result = false
                let reissue = false
                let response = ""
                let r = ""

                const token = localStorage.getItem('token')

                if (token != null) {
                    response = await fetch(this.restURIdomain + "/api/user/token/verify", {
                        method: "POST",
                        headers: { "Authorization": "Bearer " + token }
                    })
                    r = await response.json()
                    if (response.ok) {
                        if (r.msg == "OK") { result = true }
                    } else if (r.expired) {
                        reissue = true
                    }

                    if (!result && reissue) {
                        response = await fetch(this.restURIdomain + "/api/user/token", {
                            method: "GET",
                            headers: { "Authorization": "Bearer " + token }
                        })

                        if (response.ok) {
                            r = await response.json()
                            localStorage.setItem("token", r.token)
                            result = true
                        } else {
                            localStorage.removeItem("token")
                            result = false
                        }
                    }
                }

            },
            async checkPermission() {
                let headers = {
                    "Accept": "application/json",
                    "Content-Type": "application/json",
                }

                const token = localStorage.getItem('token')

                if (token != undefined && token != null) {
                    Object.assign(headers, { "Authorization": "Bearer " + token })
                }

                let params = "?code=" + this.boardCode + "&mode=" + this.mode
                let response = await fetch(this.restURI + "/api/user/permission" + params, {
                    method: "GET",
                    headers: headers,
                })

                if (response.ok) {
                    const permissions = await response.json()
                    if (permissions["write-comment"]) {
                        this.commentPermission = true
                    }
                    if (permissions["file-upload"]) {
                        this.useFileUpload = true
                    }

                    await this.getUserInfo()
                    this.isShow = true

                    return false
                }

                showError(response.status)
                return false
            },
            async getUserInfo() {
                let headers = {
                    "Accept": "application/json",
                    "Content-Type": "application/json",
                }

                const token = localStorage.getItem('token')

                if (token != undefined && token != null) {
                    Object.assign(headers, { "Authorization": "Bearer " + token })

                    let response = await fetch(this.restURI + "/api/user/info", {
                        method: "GET",
                        headers: headers,
                    })

                    if (response.ok) {
                        const userInfo = await response.json()
                        this.commentAdd.isMember = true
                        this.commentAdd["writer-name"] = userInfo.username
                        return false
                    }
                }

                if (token != null) {
                    showError(response.status)
                }

                this.commentAdd.isMember = false

                return false
            },
            async getData() {
                const keywords = [{ idx: this.id }]

                let headers = {
                    "Accept": "application/json",
                    "Content-Type": "application/json",
                }

                const token = localStorage.getItem('token')

                if (token != undefined && token != null) {
                    Object.assign(headers, { "Authorization": "Bearer " + token })
                }

                const params = "?code=" + this.boardCode + "&mode=read"
                let response = await fetch(this.restURI + "/api/basic-board/contents" + params, {
                    method: "POST",
                    headers: headers,
                    body: JSON.stringify({
                        keywords: keywords,
                        options: { count: 1 },
                        table: this.table
                    })
                })

                if (response.ok) {
                    this.contents = (await response.json())[0]

                    this.files = JSON.parse(this.contents.files)

                    this.isShow = true
                    return false
                }

                showError(response.status)
                return false
            },
            enterEdit() {
                let isMember = ""
                if (this.contents["is-member"] != "Y") {
                    isMember = "&member=n"
                }
                location.href = '/board?code=' + this.boardCode + '&mode=edit&id=' + this.id + isMember
            },
            showCommentButtons(comment) {
                return ((comment["is-member"] && (comment["writer-name"] == this.commentAdd["writer-name"])) || comment["is-member"] != "Y")
            },
            async getComments() {
                const keywords = [{ bidx: this.id }]

                let headers = {
                    "Accept": "application/json",
                    "Content-Type": "application/json",
                }

                const token = localStorage.getItem('token')

                if (token != undefined && token != null) {
                    Object.assign(headers, { "Authorization": "Bearer " + token })
                }

                const params = "?code=" + this.boardCode + "&mode=read"

                let response = await fetch(this.restURI + "/api/comments" + params, {
                    method: "POST",
                    headers: headers,
                    body: JSON.stringify({
                        keywords: keywords,
                        options: { count: 10 },
                        table: this.table
                    })
                })

                if (response.ok) {
                    this.comments = (await response.json())
                    return false
                }

                showError(response.status)
                return false
            },
            async writeComment() {
                let requestMethod = "PUT"
                this.commentAdd.bidx = this.id
                this.commentAdd.content = await tinymce.activeEditor.getContent()

                let headers = {
                    "Accept": "application/json",
                    "Content-Type": "application/json",
                }

                const token = localStorage.getItem('token')

                if (token != undefined && token != null) {
                    Object.assign(headers, { "Authorization": "Bearer " + token })
                }

                const params = "?code=" + this.boardCode + "&mode=write"

                let response = await fetch(this.restURI + "/api/comments" + params, {
                    method: requestMethod,
                    headers: headers,
                    body: JSON.stringify({
                        data: this.commentAdd,
                        table: this.table
                    })
                })

                if (response.ok) {
                    const result = await response.json()
                    this.commentAdd.content = ""
                    tinymce.activeEditor.setContent("")

                    this.getComments()
                    return false
                }

                showError(response.status)
                return false
            },
            async deleteComment(comment) {
                let requestMethod = "DELETE"

                let headers = {
                    "Accept": "application/json",
                    "Content-Type": "application/json",
                }

                const token = localStorage.getItem('token')

                if (comment["is-member"] != "Y") {
                    const confirm = await swal.fire({
                        title: "Password",
                        input: "password",
                        icon: "warning",
                        showCancelButton: true,
                        confirmButtonText: "OK",
                        cancelButtonText: "Cancel"
                    })

                    comment["writer-password"] = confirm.value
                    if (comment["writer-password"] == undefined || comment["writer-password"].length == 0) {
                        return false
                    }
                } else {
                    const confirm = await swal.fire({
                        title: "Confirm",
                        text: "Are you sure?",
                        icon: "warning",
                        showCancelButton: true,
                        confirmButtonText: "Delete",
                        cancelButtonText: "Cancel"
                    })

                    if (!confirm.isConfirmed) {
                        return false
                    }
                }

                if (token != undefined && token != null) {
                    Object.assign(headers, { "Authorization": "Bearer " + token })
                }

                const params = "?code=" + this.boardCode + "&mode=delete"

                let response = await fetch(this.restURI + "/api/comments" + params, {
                    method: requestMethod,
                    headers: headers,
                    body: JSON.stringify({
                        data: comment,
                        table: this.table
                    })
                })

                if (response.ok) {
                    const result = await response.json()
                    if (result["affected-rows"] > 0) {
                        swal.fire("Success", "Deleted successfully", "success")
                        this.getComments()
                    } else {
                        swal.fire("Fail", "Delete failed", "error")
                    }

                    return false
                }

                showError(response.status, true)
                return false
            }
        }
    })
</script>

<style>
    body {
        margin: 0;
        padding: 0.5em;
        max-width: 100%;
    }

    #app {
        width: 100%;
    }
</style>

</html>