<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" href="data:;base64,iVBORw0KGgo=">

    <!-- <script src="https://cdn.jsdelivr.net/npm/vue@2.6.0"></script> -->
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.0.17/dist/sweetalert2.all.min.js"></script>

    <link rel="stylesheet" href="/assets/css/sakura.css" type="text/css">
    <link rel="stylesheet" href="/assets/css/normalize.css" type="text/css">

    <script src="https://cdnjs.cloudflare.com/ajax/libs/tinymce/5.8.1/tinymce.min.js"></script>
</head>

<body>
    <div id="app">
        <h1>{{table}}</h1>
        <h2>{{contents.title}}</h2>
        <table>
            <tr>
                <td>{{contents['writer-name']}}</td>
            </tr>
        </table>
        <table>
            <tr>
                <td v-html="contents.content"></td>
            </tr>
        </table>

        <button @click="location.href='/board?code='+boardCode+'&mode=edit&id='+id">Edit</button>
        <button @click="location.href='/board?code='+boardCode">List</button>
        <hr />

        <div v-for="c, i in comments">
            {{c["writer-name"]}}:
            <div v-html="c.content"></div>
        </div>

        <div>
            <input v-model="commentAdd['writer-name']" placeholder="name" />
            <input v-model="commentAdd['writer-password']" placeholder="password" />
            <br />
            <textarea id="editor" v-model="commentAdd.comment" class="editors"></textarea>
            <br />
            <button @click="writeComment()">Write comment</button>
        </div>
    </div>
</body>

<script>
    tinymce.init({
        selector: "textarea.editors",
        mode: "textareas",
        theme: "silver",
        height: "240",
        force_p_newlines: false,
        force_br_newlines: true,
        // forced_root_block: false,
        forced_root_block: '',
        convert_newlines_to_brs: false,
        remove_linebreaks: true,
        // branding: false
    })
    Vue.prototype.location = window.location
    const vm = new Vue({
        el: "#app",
        data: {
            restURIdomain: window.location.protocol + "//" + window.location.host,
            restURI: window.location.protocol + "//" + window.location.host,
            table: "'##__TABLE_NAME__##'",
            boardCode: "'##__BOARD_CODE__##'",
            id: "",
            contents: {
                title: "",
                content: "",
                "writer-idx": "-1",
                "writer-name": "",
                "writer-password": ""
            },
            comments: [],
            commentAdd: {
                bidx: "",
                comment: "",
                "writer-idx": "-1",
                "writer-name": "",
                "writer-password": "",
            }
        },
        mounted() {
            const uri = new URL(String(document.location.href))
            this.id = String(uri.searchParams.get("id"))

            this.initData()
        },
        methods: {
            async initData() {
                await this.checkLogedIn()
                await this.getData()
                await this.getComments()
            },
            async checkLogedIn() {
                let result = false
                let reissue = false
                let response = ""
                let r = ""

                const token = localStorage.getItem('token')

                if (token != null) {
                    response = await fetch(this.restURIdomain + "/api/user/token", {
                        method: "POST",
                        headers: { "Authorization": "Bearer " + token }
                    })
                    if (response.ok) {
                        r = await response.json()
                        if (r.msg == "OK") { result = true }
                    } else {
                        if (response.status != 200) {
                            r = await response.json()
                            if (r.msg == "Token is expired") { reissue = true }
                        }
                    }

                    if (!result && reissue) {
                        response = await fetch(this.restURIdomain + "/api/user/token", {
                            method: "GET",
                            headers: { "Authorization": "Bearer " + token }
                        })

                        if (response.ok) {
                            r = await response.json()
                            localStorage.setItem("token", r.token)
                            result = true
                        } else {
                            localStorage.removeItem("token")
                            result = false
                        }
                    }
                }

                // if (!result) {
                //     swal.fire("Authorization failed", "Token is not exist or invalid", "error")
                //     location.href = "/users/login"
                // }
            },
            async getData() {
                const keywords = [{ idx: this.id }]

                let headers = {
                    "Accept": "application/json",
                    "Content-Type": "application/json",
                }

                if (this.token != undefined && this.token != null) {
                    Object.assign(headers, { "Authorization": "Bearer " + this.token })
                }

                let response = await fetch(this.restURI + "/api/basic-board/contents", {
                    method: "POST",
                    headers: headers,
                    body: JSON.stringify({
                        keywords: keywords,
                        options: { count: 1 },
                        table: this.table
                    })
                })

                if (response.ok) {
                    this.contents = (await response.json())[0]
                }
            },
            async getComments() {
                const keywords = [{ bidx: this.id }]

                let headers = {
                    "Accept": "application/json",
                    "Content-Type": "application/json",
                }

                if (this.token != undefined && this.token != null) {
                    Object.assign(headers, { "Authorization": "Bearer " + this.token })
                }

                let response = await fetch(this.restURI + "/api/comments", {
                    method: "POST",
                    headers: headers,
                    body: JSON.stringify({
                        keywords: keywords,
                        options: { count: 10 },
                        table: this.table
                    })
                })

                if (response.ok) {
                    this.comments = (await response.json())
                }
            },
            async writeComment() {
                let requestMethod = "PUT"
                this.commentAdd.bidx = this.id
                this.commentAdd.content = await tinymce.activeEditor.getContent()

                let headers = {
                    "Accept": "application/json",
                    "Content-Type": "application/json",
                }

                if (this.token != undefined && this.token != null) {
                    Object.assign(headers, { "Authorization": "Bearer " + this.token })
                }

                let response = await fetch(this.restURI + "/api/comments", {
                    method: requestMethod,
                    headers: headers,
                    body: JSON.stringify({
                        data: this.commentAdd,
                        table: this.table
                    })
                })

                if (response.ok) {
                    const result = await response.json()
                    this.getComments()
                }
            }
        }
    })
</script>

<style>
    body {
        margin: 0;
        padding: 0.5em;
        max-width: 100%;
    }

    #app {
        width: 100%;
    }
</style>

</html>