<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" href="data:;base64,iVBORw0KGgo=">

    <!-- <script src="https://cdn.jsdelivr.net/npm/vue@2.6.0"></script> -->
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.0.17/dist/sweetalert2.all.min.js"></script>

    <link rel="stylesheet" href="/assets/css/sakura.css" type="text/css">
    <link rel="stylesheet" href="/assets/css/normalize.css" type="text/css">
</head>

<body>
    <div id="app" v-show="isShow">
        <h1>Custom tablelist</h1>
        <a href="/">Front</a>
        <input v-model="searchKeyword" @keyup.enter="search()" placeholder="Search" />&nbsp;<button @click="search()">🍳</button>
        <table>
            <thead>
                <tr>
                    <th v-for="f, k in columns">
                        <template v-if="isBaseColumn(f)">
                            {{f.name}}
                        </template>
                    </th>
                    <th>Writer</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                <tr @keyup.enter="addData()">
                    <td v-for="f, k in columns">
                        <!-- <template v-if="isBaseColumn(f)"> -->
                            <input v-if="f.json != 'idx' && isBaseColumn(f)" v-model="contentsAdd[f.json]" />
                        <!-- </template> -->
                    </td>
                    <td>
                        <template v-if="isLogedIn">
                            <span>{{contentsAdd['WRITER_NAME']}}</span>
                        </template>
                        <template v-else>
                            <input v-model="contentsAdd['WRITER_NAME']" placeholder="name" />
                            <input v-model="contentsAdd['WRITER_PASSWORD']" placeholder="password" />
                        </template>
                    </td>
                    <td><button @click="addData()">Add</button></td>
                </tr>

                <tr v-for="ds, i in contents">
                    <template v-if="i !== contentsEditIDX">
                        <td v-for="c, j in columns">
                            <template v-if="isBaseColumn(c)">
                                {{ds[c.column]}}
                            </template>
                        </td>
                        <td>{{ds["WRITER_NAME"]}}</td>
                        <td>
                            <button @click="contentsEdit=Object.assign({}, ds);contentsEditIDX = i">Edit</button>
                            <button @click="deleteData(ds['IDX'], ds['IS_MEMBER'])">Delete</button>
                        </td>
                    </template>
                    <template v-else>
                        <td v-for="c, j in columns">
                            <template v-if="isBaseColumn(c)">
                                <span v-if="c.json == 'idx'">{{contentsEdit[c.column]}}</span>
                                <input v-else v-model="contentsEdit[c.column]" />
                            </template>
                        </td>
                        <td>
                            {{contentsEdit['WRITER_NAME']}}
                            <input v-if="contentsEdit['IS_MEMBER'] != 'Y'" v-model="contentsEdit['WRITER_PASSWORD']" placeholder="password" />
                        </td>
                        <td>
                            <button @click="contentsEdit={};contentsEditIDX = -1">Cancel</button>
                            <button @click="updateData()">Save</button>
                        </td>
                    </template>
                </tr>
            </tbody>
        </table>

        <template v-for="i in page.total">
            <template v-if="i == page.current">
                &nbsp;<span><b>{{i}}</b></span>&nbsp;
            </template>
            <template v-else>
                &nbsp;<a href="javascript:" @click="movePage(i)">{{i}}</a>&nbsp;
            </template>
        </template>
    </div>
</body>

<script>
    function showError(status, isStay) {
        switch (status) {
            case 401:
                swal.fire("Unauthorized", "need login", "error").then(() => {
                    localStorage.removeItem("token")
                    location.href = "/users/login"
                })
                break
            case 403:
                swal.fire("Forbidden", "You don't have permission to access", "error").then(() => {
                    if (!isStay) {
                        location.href = "/"
                    }
                })
                break
            default:
                swal.fire("Error occured", "", "error")
                break
        }

        return false
    }

    const vm = new Vue({
        el: "#app",
        data: {
            restURIdomain: window.location.protocol + "//" + window.location.host,
            restURI: window.location.protocol + "//" + window.location.host,
            isShow: false,
            isLogedIn: false,
            page: {
                current: 1,
                total: 1,
                countPerPage: 5,
                order: "desc",
            },
            columns: '##__COLUMNS__##',
            table: "'##__TABLE_NAME__##'",
            boardCode: "'##__BOARD_CODE__##'",
            baseColumns: [
                { column: "IS_MEMBER", json: "is-member", name: "IsMember", order: 0, type: "text" },
                { column: "WRITER_NAME", json: "writer-name", name: "WriterName", order: 0, type: "text" },
                // { column: "WRITER_PASSWORD", json: "writer-password", name: "WriterPassword", order: 0, type: "text" },
            ],
            contents: [],
            searchKeyword: "",
            contentsAdd: {},
            contentsEdit: {},
            contentsEditIDX: -1,
        },
        mounted() {
            this.columns = this.baseColumns.concat(this.columns)
            this.columns.forEach((c, i) => {
                this.contents[c.column] = ""
            })

            this.initData()
        },
        methods: {
            isBaseColumn(c) {
                return !this.baseColumns.includes(c)
            },
            async initData() {
                await this.checkLogedIn()
                await this.checkPermission()
                await this.getData()
            },
            async checkLogedIn() {
                let result = false
                let reissue = false
                let response = ""
                let r = ""

                const token = localStorage.getItem('token')

                if (token != null) {
                    response = await fetch(this.restURIdomain + "/api/user/token/verify", {
                        method: "POST",
                        headers: { "Authorization": "Bearer " + token }
                    })
                    r = await response.json()
                    if (response.ok) {
                        if (r.msg == "OK") { result = true }
                    } else if (r.expired) {
                        reissue = true
                    }

                    if (!result && reissue) {
                        response = await fetch(this.restURIdomain + "/api/user/token", {
                            method: "GET",
                            headers: { "Authorization": "Bearer " + token }
                        })

                        if (response.ok) {
                            r = await response.json()
                            localStorage.setItem("token", r.token)
                            result = true
                        } else {
                            localStorage.removeItem("token")
                            result = false
                        }
                    }
                }

                this.isLogedIn = result

                if (!result) {
                    swal.fire("Authorization failed", "Token is not exist or invalid", "error").then(() => {
                        location.href = "/users/login"
                    })
                } else {
                    this.token = token
                }
            },
            async checkPermission() {
                let headers = {
                    "Accept": "application/json",
                    "Content-Type": "application/json",
                }

                const token = localStorage.getItem('token')

                if (token != undefined && token != null) {
                    Object.assign(headers, { "Authorization": "Bearer " + token })
                }

                // const params = "?code=" + this.boardCode + "&mode=write"
                const params = "?code=" + this.boardCode + "&mode=read"
                let response = await fetch(this.restURI + "/api/user/permission" + params, {
                    method: "GET",
                    headers: headers,
                })

                if (response.ok) {
                    const contents = await response.json()
                    await this.getUserInfo()
                    return false
                }

                showError(response.status)
                return false
            },
            async getUserInfo() {
                let headers = {
                    "Accept": "application/json",
                    "Content-Type": "application/json",
                }

                const token = localStorage.getItem('token')

                if (token != undefined && token != null) {
                    Object.assign(headers, { "Authorization": "Bearer " + token })

                    let response = await fetch(this.restURI + "/api/user/info", {
                        method: "GET",
                        headers: headers,
                    })

                    if (response.ok) {
                        const userInfo = await response.json()
                        if (this.paramIsMember != "n") {
                            this.contentsAdd["WRITER_NAME"] = userInfo.username
                            this.contentsAdd["IS_MEMBER"] = "Y"
                            if (userInfo.admin == "Y") {
                                this.isAdmin = true
                            }
                            this.isLogedIn = true
                        }
                        return false
                    }

                    showError(response.status)
                }

                return false
            },
            async getTotalPage() {
                let keywords = []

                let columns = this.columns.map((c) => {
                    if (this.searchKeyword != "" && c.column != "IDX") {
                        let keyword = {}

                        keyword[c.column] = this.searchKeyword
                        keywords.push(keyword)
                    }

                    return c.column
                })

                let headers = {
                    "Accept": "application/json",
                    "Content-Type": "application/json",
                }

                const token = localStorage.getItem('token')

                if (token != undefined && token != null) {
                    Object.assign(headers, { "Authorization": "Bearer " + token })
                }

                let response = await fetch(this.restURI + "/api/custom-board/total-page?code=" + this.boardCode, {
                    method: "POST",
                    headers: headers,
                    body: JSON.stringify({
                        keywords: keywords,
                        options: {
                            count: this.page.countPerPage
                        },
                        table: this.table
                    })
                })
                if (response.ok) {
                    r = await response.json()
                    this.page.total = r["total-page"]
                }
            },
            async getData() {
                this.getTotalPage()

                let keywords = []

                let columns = this.columns.map((c) => {
                    if (this.searchKeyword != "" && c.column != "IDX") {
                        let keyword = {}

                        keyword[c.column] = this.searchKeyword
                        keywords.push(keyword)
                    }

                    return c.column
                })

                let headers = {
                    "Accept": "application/json",
                    "Content-Type": "application/json",
                }

                const token = localStorage.getItem('token')

                if (token != undefined && token != null) {
                    Object.assign(headers, { "Authorization": "Bearer " + token })
                }

                const params = "?code=" + this.boardCode + "&mode=read"
                let response = await fetch(this.restURI + "/api/custom-board/contents" + params, {
                    method: "POST",
                    headers: headers,
                    body: JSON.stringify({
                        "keywords": keywords,
                        "options": {
                            "page": this.page.current - 1,
                            "count": this.page.countPerPage,
                            "order": this.page.order,
                        },
                        "columns": columns,
                        "table": this.table
                    })
                })

                if (response.ok) {
                    this.contents = await response.json()
                    this.isShow = true
                    return false
                }

                showError(response.status)
                return false
            },
            async addData() {
                if (Object.keys(this.contentsAdd).length < 3) {
                    swal.fire("Empty", "Fill all.", "warning")
                    return false
                }

                for (let k in this.contentsAdd) {
                    if ((k != "idx" && k != "fields") && (this.contentsAdd[k] == 0 || this.contentsAdd[k].trim() == "" || !this.contentsAdd[k])) {
                        swal.fire("Empty", "Fill all.", "warning")
                        return false
                    }
                }

                let headers = {
                    "Accept": "application/json",
                    "Content-Type": "application/json",
                }

                const token = localStorage.getItem('token')

                if (token != undefined && token != null) {
                    Object.assign(headers, { "Authorization": "Bearer " + token })
                }

                const params = "?code=" + this.boardCode + "&mode=write"
                let response = await fetch(this.restURI + "/api/custom-board/contents" + params, {
                    method: "PUT",
                    headers: headers,
                    body: JSON.stringify({
                        data: this.contentsAdd,
                        table: this.table
                    })
                })

                this.contentsAdd = {}
                this.getUserInfo()

                if (response.ok) {
                    this.getData()
                    swal.fire("Success", "Updated successfully", "success")
                    return false
                }

                // console.log(this.contentsAdd)

                showError(response.status, true)
                return false
            },
            async updateData() {
                let headers = {
                    "Accept": "application/json",
                    "Content-Type": "application/json",
                }

                const token = localStorage.getItem('token')

                if (token != undefined && token != null) {
                    Object.assign(headers, { "Authorization": "Bearer " + token })
                }

                const params = "?code=" + this.boardCode + "&mode=edit"
                let response = await fetch(this.restURI + "/api/custom-board/contents" + params, {
                    method: "PATCH",
                    headers: headers,
                    body: JSON.stringify({
                        data: this.contentsEdit,
                        table: this.table
                    })
                })

                this.contentsEdit = {}
                this.contentsEditIDX = -1

                if (response.ok) {
                    const result = await response.json()

                    if (result["affected-rows"] > 0) {
                        this.getData()
                        swal.fire("Success", "Updated successfully", "success")
                        return false
                    }
                }

                showError(response.status, true)
                return false
            },
            async deleteData(idx, isMember) {
                let data = { IDX: idx }

                if (isMember != "Y") {
                    const confirm = await swal.fire({
                        title: "Password",
                        input: "password",
                        icon: "warning",
                        showCancelButton: true,
                        confirmButtonText: "OK",
                        cancelButtonText: "Cancel"
                    })

                    data["WRITER_PASSWORD"] = confirm.value
                    if (data["WRITER_PASSWORD"] == undefined || data["WRITER_PASSWORD"].length == 0) {
                        return false
                    }
                } else {
                    const confirm = await swal.fire({
                        title: "Confirm",
                        text: "Are you sure?",
                        icon: "warning",
                        showCancelButton: true,
                        confirmButtonText: "Delete",
                        cancelButtonText: "Cancel"
                    })

                    if (!confirm.isConfirmed) {
                        return false
                    }
                }

                let headers = {
                    "Accept": "application/json",
                    "Content-Type": "application/json",
                }

                const token = localStorage.getItem('token')

                if (token != undefined && token != null) {
                    Object.assign(headers, { "Authorization": "Bearer " + token })
                }

                const params = "?code=" + this.boardCode + "&mode=delete"
                let response = await fetch(this.restURI + "/api/custom-board/contents" + params, {
                    method: "DELETE",
                    headers: headers,
                    body: JSON.stringify({
                        data: data,
                        table: this.table
                    })
                })

                if (response.ok) {
                    r = await response.json()
                    if (r["affected-rows"] > 0) {
                        swal.fire("Success", "Deleted successfully", "success")
                        this.getData()
                    } else {
                        swal.fire("Fail", "Delete failed", "error")
                    }

                    return false
                }

                showError(response.status, true)
                return false
            },
            movePage(page) {
                // page 1 = idx 0
                this.page.current = page
                this.getData()

                return false
            },
            search() {
                this.page.current = 1
                this.getData()
            }
        }
    })
</script>

<style>
    body {
        margin: 0;
        padding: 0.5em;
        max-width: 100%;
    }

    #app {
        width: 100%;
    }

    tbody>tr:hover {
        background: #FFD3D3;
    }
</style>

</html>