<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" href="data:;base64,iVBORw0KGgo=">

    <!-- <script src="https://cdn.jsdelivr.net/npm/vue@2.6.0"></script> -->
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.0.17/dist/sweetalert2.all.min.js"></script>

    <link rel="stylesheet" href="/assets/css/sakura.css" type="text/css">
    <link rel="stylesheet" href="/assets/css/normalize.css" type="text/css">

    <script src="/assets/tinymce/tinymce.min.js"></script>
</head>

<body>
    <div id="app">
        <h1>Custom board</h1>
        <template v-for="c, j in columns" v-if="c.column != 'IDX'">
            <div v-if="c.type == 'editor'">
                <textarea :id="c.column" v-model="contents[c.column]" class="editors"></textarea>
            </div>
            <input v-else v-model="contents[c.column]" :placeholder="c.name" />
        </template>
        <button onclick="history.back()">Cancel</button>
        <button @click="writePost()">Write</button>
    </div>
</body>

<script>
    tinymce.init({
        selector: "textarea.editors",
        mode: "textareas",
        theme: "silver",
        height: "480",
        force_p_newlines: false,
        force_br_newlines: true,
        // forced_root_block: false,
        forced_root_block: '',
        convert_newlines_to_brs: false,
        remove_linebreaks: true,
        // branding: false
    })
    Vue.prototype.location = window.location
    const vm = new Vue({
        el: "#app",
        data: {
            restURIdomain: window.location.protocol + "//" + window.location.host,
            restURI: window.location.protocol + "//" + window.location.host,
            table: "'##__TABLE_NAME__##'",
            columns: '##__COLUMNS__##',
            boardCode: "'##__BOARD_CODE__##'",
            mode: "",
            id: "",
            contents: {},
        },
        mounted() {
            // Parameter test
            const uri = new URL(String(document.location.href))
            this.mode = uri.searchParams.get("mode")
            this.id = uri.searchParams.get("id")

            this.columns.forEach((c, i) => {
                this.contents[c.column] = ""
                // console.log(c.column)
            })

            this.initData()
        },
        methods: {
            async initData() {
                await this.checkLogedIn()
                if (this.mode == "edit" && this.id != null) {
                    await this.getData()
                }
            },
            async checkLogedIn() {
                let result = false
                let reissue = false
                let response = ""
                let r = ""

                const token = localStorage.getItem('token')

                if (token != null) {
                    response = await fetch(this.restURIdomain + "/api/user/token", {
                        method: "POST",
                        headers: { "Authorization": "Bearer " + token }
                    })
                    if (response.ok) {
                        r = await response.json()
                        if (r.msg == "OK") { result = true }
                    } else {
                        if (response.status != 200) {
                            r = await response.json()
                            if (r.msg == "Token is expired") { reissue = true }
                        }
                    }

                    if (!result && reissue) {
                        response = await fetch(this.restURIdomain + "/api/user/token", {
                            method: "GET",
                            headers: { "Authorization": "Bearer " + token }
                        })

                        if (response.ok) {
                            r = await response.json()
                            localStorage.setItem("token", r.token)
                            result = true
                        } else {
                            localStorage.removeItem("token")
                            result = false
                        }
                    }
                }

                // if (!result) {
                //     swal.fire("Authorization failed", "Token is not exist or invalid", "error")
                //     location.href = "/users/login"
                // }
            },
            async getData() {
                const keywords = [{ IDX: this.id }]

                let columns = this.columns.map((c) => {
                    return c.column
                })

                let headers = {
                    "Accept": "application/json",
                    "Content-Type": "application/json",
                }

                if (this.token != undefined && this.token != null) {
                    Object.assign(headers, { "Authorization": "Bearer " + this.token })
                }

                let response = await fetch(this.restURI + "/api/custom-board/contents-list", {
                    method: "POST",
                    headers: headers,
                    body: JSON.stringify({
                        keywords: keywords,
                        options: { count: 1 },
                        columns: columns,
                        table: this.table
                    })
                })

                if (response.ok) {
                    this.contents = (await response.json())[0]
                }
            },
            async writePost() {
                let requestMethod = "PUT"
                // this.contents.content = await tinymce.activeEditor.getContent()

                let data = {}
                await this.columns.forEach(async (c, i) => {
                    switch (true) {
                        case (c.column == "IDX"):
                            // Use only when edit
                            if (this.mode == "edit" && this.id != null) {
                                requestMethod = "PATCH"
                                data[c.column] = this.id
                            }
                            break
                        case (c.type == "editor"):
                            data[c.column] = await tinymce.get(c.column).getContent()
                            break
                        default:
                            data[c.column] = this.contents[c.column]
                            break
                    }
                })

                let headers = {
                    "Accept": "application/json",
                    "Content-Type": "application/json",
                }

                if (this.token != undefined && this.token != null) {
                    Object.assign(headers, { "Authorization": "Bearer " + this.token })
                }

                let response = await fetch(this.restURI + "/api/custom-board/contents-list", {
                    method: requestMethod,
                    headers: headers,
                    body: JSON.stringify({
                        data: data,
                        table: this.table
                    })
                })

                if (response.ok) {
                    const result = await response.json()
                    location.href = this.restURI + "/board?code=" + this.boardCode + "&mode=read&id=" + result["last-id"]
                }
            }
        }
    })
</script>

<style>
    body {
        margin: 0;
        padding: 0.5em;
        max-width: 100%;
    }

    #app {
        width: 100%;
    }
</style>

</html>