<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" href="data:;base64,iVBORw0KGgo=">

    <!-- <script src="https://cdn.jsdelivr.net/npm/vue@2.6.0"></script> -->
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.0.17/dist/sweetalert2.all.min.js"></script>

    <link rel="stylesheet" href="/assets/css/sakura.css" type="text/css">
    <link rel="stylesheet" href="/assets/css/normalize.css" type="text/css">

    <script src="https://cdnjs.cloudflare.com/ajax/libs/tinymce/5.8.1/tinymce.min.js"></script>
</head>

<body>
    <div id="app" v-show="isShow">
        <h1>Custom board</h1>
        <div v-if="contents['IS_MEMBER'] == 'Y' || mode == 'edit'">
            <span>{{contents['WRITER_NAME']}}</span>
        </div>
        <div v-else>
            <input v-model="contents['WRITER_NAME']" placeholder="name" />
            <input v-model="contents['WRITER_PASSWORD']" placeholder="password" />
        </div>
        <template v-for="c, j in columns">
            <template v-if="isBaseColumn(c)">
                <div v-if="c.type == 'editor'">
                    <textarea :id="c.column" v-model="contents[c.column]" class="editors"></textarea>
                </div>
                <input v-else-if="c.type != 'comment'" v-model="contents[c.column]" :placeholder="c.name" />
            </template>
        </template>
        <button onclick="history.back()">Cancel</button>
        <button @click="writePost()">Write</button>
    </div>
</body>

<script>
    function showError(status) {
        switch (status) {
            case 401:
                swal.fire("Unauthorized", "need login", "error").then(() => {
                    localStorage.removeItem("token")
                    location.href = "/users/login"
                })
                break
            case 403:
                swal.fire("Forbidden", "You don't have permission to access", "error").then(() => {
                    window.history.back()
                })
                break
            default:
                swal.fire("Error occured", "", "error")
                break
        }

        return false
    }

    tinymce.init({
        selector: "textarea.editors",
        mode: "textareas",
        theme: "silver",
        height: "480",
        force_p_newlines: false,
        force_br_newlines: true,
        // forced_root_block: false,
        forced_root_block: '',
        convert_newlines_to_brs: false,
        remove_linebreaks: true,
        // branding: false
    })
    Vue.prototype.location = window.location
    const vm = new Vue({
        el: "#app",
        data: {
            restURIdomain: window.location.protocol + "//" + window.location.host,
            restURI: window.location.protocol + "//" + window.location.host,
            isShow: false,
            table: "'##__TABLE_NAME__##'",
            columns: '##__COLUMNS__##',
            baseColumns: [
                { column: "IS_MEMBER", json: "is-member", name: "IsMember", order: 0, type: "text" },
                { column: "WRITER_NAME", json: "writer-name", name: "WriterName", order: 0, type: "text" },
                { column: "WRITER_PASSWORD", json: "writer-password", name: "WriterPassword", order: 0, type: "text" },
            ],
            boardCode: "'##__BOARD_CODE__##'",
            mode: "",
            id: "",
            contents: {},
        },
        mounted() {
            // Parameter test
            const uri = new URL(String(document.location.href))
            this.mode = uri.searchParams.get("mode")
            this.id = uri.searchParams.get("id")
            this.columns = this.baseColumns.concat(this.columns)

            this.columns.forEach((c, i) => {
                this.contents[c.column] = ""
            })

            this.initData()
        },
        computed: {},
        methods: {
            isBaseColumn(c) {
                return !this.baseColumns.includes(c) && c.column != "IDX"
            },
            async initData() {
                await this.checkPermission()
                if (this.mode == "edit" && this.id != null) {
                    await this.getData()
                }
            },
            async checkPermission() {
                let headers = {
                    "Accept": "application/json",
                    "Content-Type": "application/json",
                }

                const token = localStorage.getItem('token')

                if (token != undefined && token != null) {
                    Object.assign(headers, { "Authorization": "Bearer " + token })
                }

                const params = "?code=" + this.boardCode + "&mode=" + this.mode
                let response = await fetch(this.restURI + "/api/user/permission" + params, {
                    method: "GET",
                    headers: headers,
                })

                if (response.ok) {
                    this.contents = await response.json()
                    await this.getUserInfo()
                    if (this.mode != "edit") {
                        this.isShow = true
                    }
                    this.isShow = true
                    return false
                }

                showError(response.status)
                return false
            },
            async getUserInfo() {
                let headers = {
                    "Accept": "application/json",
                    "Content-Type": "application/json",
                }

                const token = localStorage.getItem('token')

                if (token != undefined && token != null) {
                    Object.assign(headers, { "Authorization": "Bearer " + token })

                    let response = await fetch(this.restURI + "/api/user/info", {
                        method: "GET",
                        headers: headers,
                    })

                    if (response.ok) {
                        const userInfo = await response.json()
                        if (this.paramIsMember != "n") {
                            this.contents["WRITER_NAME"] = userInfo.username
                            this.contents["IS_MEMBER"] = "Y"
                            if (userInfo.admin == "Y") {
                                this.isAdmin = true
                            }
                        }
                        return false
                    }

                    showError(response.status)
                }

                return false
            },
            async getData() {

                const keywords = [{ IDX: this.id }]

                let columns = this.columns.map((c) => {
                    return c.column
                })

                let headers = {
                    "Accept": "application/json",
                    "Content-Type": "application/json",
                }

                const token = localStorage.getItem('token')

                if (token != undefined && token != null) {
                    Object.assign(headers, { "Authorization": "Bearer " + token })
                }

                const params = "?code=" + this.boardCode + "&mode=" + this.mode
                let response = await fetch(this.restURI + "/api/custom-board/contents" + params, {
                    method: "POST",
                    headers: headers,
                    body: JSON.stringify({
                        keywords: keywords,
                        options: { count: 1 },
                        columns: columns,
                        table: this.table
                    })
                })

                if (response.ok) {
                    this.contents = (await response.json())[0]
                    console.log(this.contents)
                    // await tinymce.activeEditor.setContent(this.contents.content)
                }
            },
            async writePost() {
                let requestMethod = "PUT"

                let data = {}
                await this.columns.forEach(async (c, i) => {
                    switch (true) {
                        case (c.column == "IDX"):
                            // Use only when edit
                            if (this.mode == "edit" && this.id != null) {
                                requestMethod = "PATCH"
                                data[c.column] = this.id
                            }
                            break
                        case (c.type == "editor"):
                            data[c.column] = await tinymce.get(c.column).getContent()
                            break
                        default:
                            data[c.column] = this.contents[c.column]
                            break
                    }
                })

                let headers = {
                    "Accept": "application/json",
                    "Content-Type": "application/json",
                }

                const token = localStorage.getItem('token')

                if (token != undefined && token != null) {
                    Object.assign(headers, { "Authorization": "Bearer " + token })
                }

                const params = "?code=" + this.boardCode + "&mode=" + this.mode

                let response = await fetch(this.restURI + "/api/custom-board/contents" + params, {
                    method: requestMethod,
                    headers: headers,
                    body: JSON.stringify({
                        data: data,
                        table: this.table
                    })
                })

                if (response.ok) {
                    const result = await response.json()
                    location.href = this.restURI + "/board?code=" + this.boardCode + "&mode=read&id=" + result["last-id"]
                    return false
                }

                showError(response.status)
                return false
            }
        }
    })
</script>

<style>
    body {
        margin: 0;
        padding: 0.5em;
        max-width: 100%;
    }

    #app {
        width: 100%;
    }
</style>

</html>