<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" href="data:;base64,iVBORw0KGgo=">

    <!-- <script src="js/vue.min.js"></script> -->
    <script src="/assets/js/vue.js"></script>
    <script src="/assets/js/vue-i18n.js"></script>
    <script src="/assets/js/sweetalert2.all.min.js"></script>

    <link rel="stylesheet" href="/assets/css/sakura.css" type="text/css">
    <link rel="stylesheet" href="/assets/css/normalize.css" type="text/css">
</head>

<body>
    <div id="app">
        <h1>Custom board</h1>
        <a href="/admin/board">Admin</a>
        <table>
            <thead>
                <tr>
                    <th v-for="f, k in columns" v-if="f.type != 'editor'">
                        <span>{{f.name}}</span>
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr v-for="ds, i in contents">
                    <template v-for="c, j in columns" v-if="c.type != 'editor'">
                        <td :class="(c.type == 'title') ? 'content-title' : ''" @click="location.href=restURI+'/board?code='+boardCode+'&mode=read&id='+ds['IDX']">
                            {{ds[c.column]}}
                        </td>
                    </template>
                </tr>
            </tbody>
        </table>
        
        <hr />

        <template v-for="i in page.total">
            <template v-if="i == page.current">
                &nbsp;<span><b>{{i}}</b></span>&nbsp;
            </template>
            <template v-else>
                &nbsp;<a href="javascript:" @click="movePage(i)">{{i}}</a>&nbsp;
            </template>
        </template>

        <br />

        <button @click="location.href='/board?code='+boardCode+'&mode=write'">Write</button>

    </div>
</body>

<script>
    Vue.prototype.location = window.location
    const vm = new Vue({
        el: "#app",
        data: {
            restURI: window.location.protocol + "//" + window.location.host,
            page: {
                current: 1,
                total: 1,
                countPerPage: 5,
                order: "desc",
            },
            columns: '##__COLUMNS__##',
            table: "'##__TABLE_NAME__##'",
            boardCode: "'##__BOARD_CODE__##'",
            contents: [],
        },
        mounted() {
            this.getData()
        },
        methods: {
            async getTotalPage() {
                let keywords = []

                let response = await fetch(this.restURI + "/api/custom-board/total-page", {
                    method: "POST",
                    headers: {
                        "Accept": "application/json",
                        "Content-Type": "application/json"
                    },
                    body: JSON.stringify({
                        keywords: keywords,
                        options: {
                            count: this.page.countPerPage
                        },
                        table: this.table
                    })
                })
                if (response.ok) {
                    r = await response.json()
                    this.page.total = r["total-page"]
                }
            },
            async getData() {
                this.getTotalPage()

                let keywords = []

                let columns = this.columns.map((c) => {
                    return c.column
                })

                let response = await fetch(this.restURI + "/api/custom-board/contents-list", {
                    method: "POST",
                    headers: {
                        "Accept": "application/json",
                        "Content-Type": "application/json"
                    },
                    body: JSON.stringify({
                        "keywords": keywords,
                        "options": {
                            "page": this.page.current - 1,
                            "count": this.page.countPerPage,
                            "order": this.page.order,
                        },
                        "columns": columns,
                        "table": this.table
                    })
                })

                if (response.ok) {
                    this.contents = await response.json()
                }
            },
            movePage(page) {
                // page 1 = idx 0
                this.page.current = page
                this.getData()

                return false
            },
        }
    })
</script>

<style>
    body {
        margin: 0;
        padding: 0.5em;
        max-width: 100%;
    }

    #app {
        width: 100%;
    }

    .content-title {
        cursor: pointer;
    }

    .content-title:hover {
        text-decoration: underline;
    }
</style>

</html>