<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" href="data:;base64,iVBORw0KGgo=">

    <!-- <script src="js/vue.min.js"></script> -->
    <script src="/assets/js/vue.js"></script>
    <script src="/assets/js/vue-i18n.js"></script>
    <script src="/assets/js/sweetalert2.all.min.js"></script>

    <link rel="stylesheet" href="/assets/css/sakura.css" type="text/css">
    <link rel="stylesheet" href="/assets/css/normalize.css" type="text/css">

    <script src="/assets/tinymce/tinymce.min.js"></script>
</head>

<body>
    <div id="app">
        <h1>Custom board</h1>
        <div v-for="c, j in columns" v-if="c.column != 'IDX'">
            {{c.name}}
            <textarea v-if="c.type == 'editor'" :id="c.column" class="editors"></textarea>
            <input v-else v-model="contents[c.column]" />
        </div>
        <button onclick="history.back()">Cancel</button>
        <button @click="writePost()">Write</button>
    </div>
</body>

<script>
    tinymce.init({
        selector: "textarea.editors",
        mode: "textareas",
        theme: "silver",
        height: "480",
        force_p_newlines: false,
        force_br_newlines: true,
        // forced_root_block: false,
        forced_root_block: '',
        convert_newlines_to_brs: false,
        remove_linebreaks: true,
        // branding: false
    })
    Vue.prototype.location = window.location
    const vm = new Vue({
        el: "#app",
        data: {
            restURI: window.location.protocol + "//" + window.location.host,
            table: "'##__TABLE_NAME__##'",
            columns: '##__COLUMNS__##',
            boardCode: "'##__BOARD_CODE__##'",
            mode: "",
            id: "",
            contents: {},
        },
        mounted() {
            // Parameter test
            const link = document.location.href
            const uri = new URL(String(link))

            this.mode = uri.searchParams.get("mode")
            this.id = uri.searchParams.get("id")

            this.columns.forEach((c, i) => {
                this.contents[c.column] = ""
                // console.log(c.column)
            })
        },
        methods: {
            async writePost() {
                let data = {}
                this.columns.forEach(async (c, i) => {
                    switch (true) {
                        case (c.column == "IDX"):
                            // Use only when edit
                            console.log(this.mode)
                            if (this.mode == "edit") {
                                console.log("EDIT only!!")
                            }
                            break
                        case (c.type == "editor"):
                            data[c.column] = await tinymce.activeEditor.getContent()
                            break
                        default:
                            data[c.column] = this.contents[c.column]
                            break
                    }
                })

                console.log(data)

                let response = await fetch(this.restURI + "/api/custom-board/contents-list", {
                    method: "PUT",
                    headers: {
                        "Accept": "application/json",
                        "Content-Type": "application/json"
                    },
                    body: JSON.stringify({
                        data: data,
                        table: this.table
                    })
                })

                if (response.ok) {
                    const result = await response.json()
                    location.href = this.restURI + "/board?code=" + this.boardCode + "&mode=read&id=" + result["last-id"]
                }
            }
        }
    })
</script>

<style>
    body {
        margin: 0;
        padding: 0.5em;
        max-width: 100%;
    }

    #app {
        width: 100%;
    }
</style>

</html>