<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" href="data:;base64,iVBORw0KGgo=">

    <!-- <script src="https://cdn.jsdelivr.net/npm/vue@2.6.0"></script> -->
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.0.17/dist/sweetalert2.all.min.js"></script>

    <link rel="stylesheet" href="/assets/css/sakura.css" type="text/css">
    <link rel="stylesheet" href="/assets/css/normalize.css" type="text/css">
</head>

<body>
    <div id="app">
        <h1>Custom tablelist</h1>
        <a href="/admin/board">Admin</a>
        <input v-model="searchKeyword" @keyup.enter="search()" placeholder="Search" />&nbsp;<button @click="search()">🍳</button>
        <table>
            <thead>
                <tr>
                    <th v-for="f, k in columns">{{f.name}}</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                <tr @keyup.enter="addData()">
                    <td v-for="f, k in columns">
                        <input v-if="f.json != 'idx'" v-model="contentsAdd[f.json]" />
                    </td>
                    <td><button @click="addData()">Add</button></td>
                </tr>

                <tr v-for="ds, i in contents">
                    <template v-if="i !== contentsEditIDX">
                        <td v-for="c, j in columns">{{ds[c.column]}}</td>
                        <td>
                            <button @click="contentsEdit=Object.assign({}, ds);contentsEditIDX = i">Edit</button>
                            <button @click="deleteData(ds['IDX'])">Delete</button>
                        </td>
                    </template>
                    <template v-else>
                        <td v-for="c, j in columns">
                            <span v-if="c.json == 'idx'">{{contentsEdit[c.column]}}</span>
                            <input v-else v-model="contentsEdit[c.column]" />
                        </td>
                        <td>
                            <button @click="contentsEdit={};contentsEditIDX = -1">Cancel</button>
                            <button @click="updateData()">Save</button>
                        </td>
                    </template>
                </tr>
            </tbody>
        </table>

        <template v-for="i in page.total">
            <template v-if="i == page.current">
                &nbsp;<span><b>{{i}}</b></span>&nbsp;
            </template>
            <template v-else>
                &nbsp;<a href="javascript:" @click="movePage(i)">{{i}}</a>&nbsp;
            </template>
        </template>
    </div>
</body>

<script>
    const vm = new Vue({
        el: "#app",
        data: {
            restURIdomain: window.location.protocol + "//" + window.location.host,
            restURI: window.location.protocol + "//" + window.location.host,
            page: {
                current: 1,
                total: 1,
                countPerPage: 5,
                order: "desc",
            },
            columns: '##__COLUMNS__##',
            table: "'##__TABLE_NAME__##'",
            contents: [],
            searchKeyword: "",
            contentsAdd: {},
            contentsEdit: {},
            contentsEditIDX: -1,
        },
        mounted() { this.initData() },
        methods: {
            async initData() {
                await this.checkLogedIn()
                await this.getData()
            },
            async checkLogedIn() {
                let result = false
                let reissue = false
                let response = ""
                let r = ""

                const token = localStorage.getItem('token')

                if (token != null) {
                    response = await fetch(this.restURIdomain + "/api/user/token/verify", {
                        method: "POST",
                        headers: { "Authorization": "Bearer " + token }
                    })
                    if (response.ok) {
                        r = await response.json()
                        if (r.msg == "OK") { result = true }
                    } else {
                        if (response.status != 200) {
                            r = await response.json()
                            if (r.msg == "Token is expired") { reissue = true }
                        }
                    }

                    if (!result && reissue) {
                        response = await fetch(this.restURIdomain + "/api/user/token/verify", {
                            method: "GET",
                            headers: { "Authorization": "Bearer " + token }
                        })

                        if (response.ok) {
                            r = await response.json()
                            localStorage.setItem("token", r.token)
                            result = true
                        } else {
                            localStorage.removeItem("token")
                            result = false
                        }
                    }
                }

                // if (!result) {
                //     swal.fire("Authorization failed", "Token is not exist or invalid", "error")
                //     location.href = "/users/login"
                // }
            },
            async getTotalPage() {
                let keywords = []

                let columns = this.columns.map((c) => {
                    if (this.searchKeyword != "" && c.column != "IDX") {
                        let keyword = {}

                        keyword[c.column] = this.searchKeyword
                        keywords.push(keyword)
                    }

                    return c.column
                })

                let headers = {
                    "Accept": "application/json",
                    "Content-Type": "application/json",
                }

                if (this.token != undefined && this.token != null) {
                    Object.assign(headers, { "Authorization": "Bearer " + this.token })
                }

                let response = await fetch(this.restURI + "/api/custom-board/total-page", {
                    method: "POST",
                    headers: headers,
                    body: JSON.stringify({
                        keywords: keywords,
                        options: {
                            count: this.page.countPerPage
                        },
                        table: this.table
                    })
                })
                if (response.ok) {
                    r = await response.json()
                    this.page.total = r["total-page"]
                }
            },
            async getData() {
                this.getTotalPage()

                let keywords = []

                let columns = this.columns.map((c) => {
                    if (this.searchKeyword != "" && c.column != "IDX") {
                        let keyword = {}

                        keyword[c.column] = this.searchKeyword
                        keywords.push(keyword)
                    }

                    return c.column
                })

                let headers = {
                    "Accept": "application/json",
                    "Content-Type": "application/json",
                }

                if (this.token != undefined && this.token != null) {
                    Object.assign(headers, { "Authorization": "Bearer " + this.token })
                }

                let response = await fetch(this.restURI + "/api/custom-board/contents-list", {
                    method: "POST",
                    headers: headers,
                    body: JSON.stringify({
                        "keywords": keywords,
                        "options": {
                            "page": this.page.current - 1,
                            "count": this.page.countPerPage,
                            "order": this.page.order,
                        },
                        "columns": columns,
                        "table": this.table
                    })
                })

                if (response.ok) {
                    this.contents = await response.json()
                }
            },
            async addData() {
                if (Object.keys(this.contentsAdd).length < 3) {
                    swal.fire("Empty", "Fill all.", "warning")
                    return false
                }

                for (let k in this.contentsAdd) {
                    if ((k != "idx" && k != "fields") && (this.contentsAdd[k] == 0 || this.contentsAdd[k].trim() == "" || !this.contentsAdd[k])) {
                        swal.fire("Empty", "Fill all.", "warning")
                        return false
                    }
                }

                let headers = {
                    "Accept": "application/json",
                    "Content-Type": "application/json",
                }

                if (this.token != undefined && this.token != null) {
                    Object.assign(headers, { "Authorization": "Bearer " + this.token })
                }

                let response = await fetch(this.restURI + "/api/custom-board/contents-list", {
                    method: "PUT",
                    headers: headers,
                    body: JSON.stringify({
                        data: this.contentsAdd,
                        table: this.table
                    })
                })

                if (response.ok) {
                    this.getData()
                    this.contentsAdd = {}
                    swal.fire("Success", "Updated successfully", "success")
                    return false
                }

                console.log(this.contentsAdd)
            },
            async updateData() {
                let headers = {
                    "Accept": "application/json",
                    "Content-Type": "application/json",
                }

                if (this.token != undefined && this.token != null) {
                    Object.assign(headers, { "Authorization": "Bearer " + this.token })
                }

                let response = await fetch(this.restURI + "/api/custom-board/contents-list", {
                    method: "PATCH",
                    headers: headers,
                    body: JSON.stringify({
                        data: this.contentsEdit,
                        table: this.table
                    })
                })

                if (response.ok) {
                    this.getData()
                    this.contentsEdit = {}
                    this.contentsEditIDX = -1
                    swal.fire("Success", "Updated successfully", "success")
                    return false
                }
            },
            async deleteData(idx) {
                const confirm = await swal.fire({
                    title: "Confirm",
                    text: "Are you sure?",
                    icon: "warning",
                    showCancelButton: true,
                    confirmButtonText: "Delete",
                    cancelButtonText: "Cancel"
                })

                if (!confirm.isConfirmed) {
                    return false
                }

                let headers = {
                    "Accept": "application/json",
                    "Content-Type": "application/json",
                }

                if (this.token != undefined && this.token != null) {
                    Object.assign(headers, { "Authorization": "Bearer " + this.token })
                }

                let response = await fetch(this.restURI + "/api/custom-board/contents-list", {
                    method: "DELETE",
                    headers: headers,
                    body: JSON.stringify({
                        data: { IDX: idx },
                        table: this.table
                    })
                })

                if (response.ok) {
                    swal.fire("Success", "Deleted successfully", "success")
                    this.getData()
                }
            },
            movePage(page) {
                // page 1 = idx 0
                this.page.current = page
                this.getData()

                return false
            },
            search() {
                this.page.current = 1
                this.getData()
            }
        }
    })
</script>

<style>
    body {
        margin: 0;
        padding: 0.5em;
        max-width: 100%;
    }

    #app {
        width: 100%;
    }

    tbody>tr:hover {
        background: #FFD3D3;
    }
</style>

</html>