<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" href="data:;base64,iVBORw0KGgo=">

    <!-- <script src="js/vue.min.js"></script> -->
    <script src="/assets/js/vue.js"></script>
    <script src="/assets/js/sweetalert2.all.min.js"></script>

    <link rel="stylesheet" href="/assets/css/sakura.css" type="text/css">
    <link rel="stylesheet" href="/assets/css/normalize.css" type="text/css">
</head>

<body>
    <div id="app">
        <h1>Custom board</h1>
        <div v-for="c, j in columns" v-if="c.column != 'IDX'">
            <div v-html="contents[c.column]" v-if="c.type='editor'"></div>
            <span v-else>{{contents[c.column]}}</span>
        </div>
        <button @click="location.href='/board?code='+boardCode+'&mode=edit&id='+id">Edit</button>
        <button @click="location.href='/board?code='+boardCode">List</button>
    </div>
</body>

<script>
    Vue.prototype.location = window.location
    const vm = new Vue({
        el: "#app",
        data: {
            restURI: window.location.protocol + "//" + window.location.host,
            table: "'##__TABLE_NAME__##'",
            columns: '##__COLUMNS__##',
            boardCode: "'##__BOARD_CODE__##'",
            id: "",
            contents: {},
        },
        mounted() {
            // Parameter test
            const link = document.location.href
            const uri = new URL(String(link))

            this.id = uri.searchParams.get("id")

            this.getData()
        },
        methods: {
            async getData() {
                const keywords = [{ IDX: this.id }]

                let columns = this.columns.map((c) => {
                    return c.column
                })

                let response = await fetch(this.restURI + "/api/custom-board/contents-list", {
                    method: "POST",
                    headers: {
                        "Accept": "application/json",
                        "Content-Type": "application/json"
                    },
                    body: JSON.stringify({
                        keywords: keywords,
                        options: { count: 1 },
                        columns: columns,
                        table: this.table
                    })
                })

                if (response.ok) {
                    this.contents = (await response.json())[0]
                }
            }
        }
    })
</script>

<style>
    body {
        margin: 0;
        padding: 0.5em;
        max-width: 100%;
    }

    #app {
        width: 100%;
    }

    .content-title {
        cursor: pointer;
    }

    .content-title:hover {
        text-decoration: underline;
    }
</style>

</html>