<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" href="data:image/x-icon;," type="image/x-icon">
    <meta name="google" content="notranslate" />

    <title>Board Template</title>

    <!-- <link rel="stylesheet" href="https://unpkg.com/mvp.css"> -->
    <link rel="stylesheet" href="https://unpkg.com/sakura.css/css/sakura.css" type="text/css">
    <link rel="stylesheet" href="/assets/css/modal.css">
    <script src="/assets/js/list-renderer.js"></script>
</head>

<body>
    <div>
        <a href="/">Front page</a>
        <div>
            {{if ne .UserId ""}}
            Good day, {{.UserId}}.
            <a href="/logout">Logout</a>
            <a href="/mypage">My page</a>

            {{if eq .Grade "admin"}}
            <a href="/admin">Admin</a>
            {{end}}

            {{else if eq .UserId "admin"}}
            Good day, admin.
            {{else}}
            <a href="/login">Login</a>
            {{end}}
        </div>
        <hr />

        <div id="menu">
            <ul>
                <li>hello</li>
            </ul>
        </div>

    </div>

    <footer>
        board footer
    </footer>
</body>

</html>