{{define "layout_header"}}

<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" href="data:image/x-icon;," type="image/x-icon">
    <meta name="google" content="notranslate" />

    <title>Template</title>

    <script src="https://cdn.jsdelivr.net/npm/dayjs@1/dayjs.min.js"></script>
    <link rel="stylesheet" href="https://unpkg.com/sakura.css/css/sakura.css" type="text/css">
    <script src="/assets/js/list-renderer.js"></script>
    <link rel="stylesheet" href="/assets/css/modal.css">
</head>

<body>
    <div>
        <a href="/">Front page</a>

        <div>
            <label for="board-selection">Board:</label>
            <input list="board-list" id="board-selection" name="board-selection" onchange="moveBoard(this)" />
            <datalist id="board-list">
                {{range .BoardPageData.BoardList}}
                <option value="{{.BoardCode.String}}" data-name="{{.BoardName.String}}"></option>
                {{end}}
            </datalist>
        </div>
        
        <style>
            label {
                display: initial;
            }
        </style>
        
        <script>
            function moveBoard(el) {
                const boardList = document.querySelector(`#board-list option[value="${el.value}"]`)

                const selectedBoardCode = el.value
                const selectedBoardName = boardList.dataset.name

                location.href = `/board/list?board_code=${selectedBoardCode}`
            }
        </script>

        <div>
            {{if ne .UserId ""}}
            Good day, {{.UserId}}.
            <a href="/logout">Logout</a>
            <a href="/mypage">My page</a>

            {{if eq .Grade "admin"}}
            <a href="/admin">Admin</a>
            {{end}}

            {{else if eq .UserId "admin"}}
            Good day, admin.
            {{else}}
            <a href="/login">Login</a>
            {{end}}
        </div>
        <hr />
    </div>
{{end}}


{{define "layout_footer"}}
    <footer>
        Template footer
    </footer>
</body>

</html>
{{end}}