{{template "layout_nomenu_header" .}}

<script>
    document.title = "Reset password"
</script>

<form method="post" action="/password-reset">
    <div>
        <input type="hidden" name="destination" value="" />
    
        <label for="userid">Userid</label>
        <input type="text" id="userid" name="userid" tabindex="1" required />
    
        <label for="email">Email</label>
        <input type="email" id="email" name="email" tabindex="2" required />
    </div>

    <div>
        <input type="submit" tabindex="3" value="Reset password" />
        <input type="button" tabindex="4" value="Cancel" onclick="location.href='/'" />
    </div>
</form>
</body>

<script>
    document.querySelector("input[name='destination']").value = document.referrer
</script>

{{template "layout_nomenu_footer" .}}