{{template "layout_nomenu_header" .}}

<div>
    <input type="text" name="username" value="" placeholder="Username" required />
    <input type="password" name="password" value="" placeholder="Password" required />
    <input type="text" name="email" value="" placeholder="Email" required />
</div>

<button type="button" onclick="location.href='/'">Cancel</button>
<button type="button" onclick="signup()">Sign up</button>

<script>
    async function signup() {
        const data = {
            username: document.querySelector('input[name="username"]').value,
            password: document.querySelector('input[name="password"]').value,
            email: document.querySelector('input[name="email"]').value,
        }

        const r = await fetch('/api/signup', {
            method: 'POST',
            headers: { "Content-Type": "application/json" },
            body: JSON.stringify(data)
        })

        if (r.ok) { location.href = '/' }
    }
</script>

{{template "layout_nomenu_footer" .}}